<div id="body1">
        <div class="tab-container">
          <div class="tab-wrapper">
              <div class="tab-head">
                <a class="tab-label" href="#tab-content1">Вкладка 1</a>
                <a class="tab-label" href="#tab-content2">Вкладка 2</a>
                <a class="tab-label" href="#tab-content3">Вкладка 3</a>
              </div>
              
              <div class="tab-content-container">
                <div class="tab-item" id="tab-content1">
                <p>Tab 1</p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
      
                <div class="tab-item" id="tab-content2">
                <p>Tab 2</p>
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                </div>
      
                <div class="tab-item" id="tab-content3">
                <p>Tab 3</p>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
              </div>
      
          </div>
        </div>
        
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
         
      </div>
      
      <br/>
      
      