#body1{width:100%;}
#body2{width:300px;}
.tab-wrapper{width: 100%; font-family: sans-serif;}
.tab-head .tab-label{
    display: inline-block;
    background-color: #e6e6e6;
    height: 35px;
    line-height: 35px;
    min-width: 50px;
    padding: 0px 20px;
    text-align: center;
    color: #878685;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 2px solid #c7c7c7;
    margin: 0px -5px -3px 0px;
}
.tab-head .tab-label:first-child{border-left: 0px;}

.tab-wrapper .tab-item,
.tab-content-container .tab-item:target ~ .tab-item{display: none;}
.tab-wrapper .tab-item{
    background-color: #fff;
    width: calc(100% - 40px);
    max-width: 100%;
    padding: 20px;
}
.tab-content-container .tab-item:target,
.tab-wrapper .tab-item:last-child{display: block;}
