.stopwatch {
    width: 1000px;
    height: 500px;
    align-content: center;
    margin: 0 auto;
    background-color: rgb(104, 83, 89);
}

.stopwatch-display {
    width: 302px;
    height: 100px;
    align-content: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color:   rgba(128, 92, 99, 0.384);
    margin-bottom: 5px;
}

.minutes {
    display: inline-block;
    width: 97px;
    align-content: right;
    margin: 0 auto;
}

.min {
    width: 97px;
    text-align: center;
    font-size: 29px;
}

.seconds {
    display: inline-block;
    width: 97px;
    align-content: left;
    margin: 0 auto;
}

.sec {
    width: 100px;
    text-align: center;
    font-size: 29px;
}

.milliseconds {
    display: inline-block;
    width: 100px;
    align-content: center;
    margin: 0 auto;
}

.milis {
    width: 100px;
    text-align: center;
    font-size: 29px;
}

.buttons-block {
    width: 304px;
    height: 200px;
    align-content: center;
    margin: 0 auto;
}

.start {
   width: 150px;
   height: 30px;
   align-content: center;
   margin: 0 auto;
   background: linear-gradient(to top left, rgb(122, 66, 83), rgb(48, 6, 13));
   border: 0px;
   outline: none;
}

.clear {
    width: 150px;
    height: 30px;
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(to top left, rgb(122, 66, 83), rgb(48, 6, 13));
    border: 0px;
    outline: none;
}

.pause {
    width: 150px;
    height: 30px;
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(to top left, rgb(122, 66, 83), rgb(48, 6, 13));
    border: 0px;
    outline: none;
    display: none;
}

.button-focus {
    background: linear-gradient(to top left, rgb(122, 66, 83), rgb(48, 6, 13));
    font-size: 15px;
    color: white;
    margin: 0 auto;
}

button.start.button-focus {
    margin: 0px;
}

button.pause.button-focus {
    margin: 0px;
}

button.clear.button-focus {
    margin: 0px;
}

.change-theme {
    width: 300px;
    height: 200px;
    align-content: center;
    margin: 0 auto;
}

#change-th {
    width: 300px;
    height: 60px;
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(to top left, rgb(122, 66, 83), rgb(48, 6, 13));
    outline: none;
    border: 0px;
}