@media screen and (min-width: 640px) and (max-width: 980px) {

    body {
        margin: 0px;
        display: block;
    }
    
    .page {
        margin: 0 auto;
    }
    
    .sect-main-page {
        width: 100%;
        height: 627px;
    }
    
    .content-pizza-page-menu {
        height: 97px;
        margin: 0 auto;
        align-content: center;
        background-color: #373c3f;
    }
    
    .cont-pizza-page-menu {
        height: 97px;
        margin: 0 auto;
        align-content: center;
        background-color: #373c3f;
    }
    
    .pizza-page-menu {
        max-width: 980px;
        height: 97px;
        margin: 0 auto;
        align-content: center;
        background-color: #373c3f;
        display: grid;
        grid-template-columns:  1fr 130px 134px;
        grid-template-rows: 97px;
    }
    
    .navigation-header {
        display: none;
    }

    .menu-links {
        height: 12px;
        padding: 43px 0px 40px 37px;
        list-style-type: none;
        justify-content: space-between;
        margin: 0px;
        display: inline-flex;
    }
    
    .menu-links-item {
        margin: 0px;
        font-family: 'Montserrat-Regular';
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 255);
        justify-content: space-between;
        text-decoration: none;
        padding: 0px;
        font-family: "Montserrat", sans-serif;
    }
    
    .pizza-logo {
        width: 104px;
        height: 83px;
        padding: 8px 30px 6px 0px;
        grid-column: 3 / 3;
    }

    .nav-element {
        display: none;
    }
    
    
    .content-pizza-page-info {
        width: 100%;
        height: 530px;
        margin: 0px;
        background-image: url('../img/pizza.png');
        background-size: cover;
        background-repeat: no-repeat;
    }  
     
    .pizza-page-info {
        max-width: 980px;
        height: 530px;
        margin: 0 auto;
        align-content: center;
        top: 0;
    }
    
    .pizza-page-info-header {
        height: 117px;
        padding: 64px 0px 57px 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 5.1vw;
        color: rgba(255, 255, 255, 255);
        text-align: left;
        margin: 0px;
        font-weight: 600;
        font-stretch: condensed;
    }
    
    .ppih-email {
        width: 374px;
        max-width: 980px;
        padding: 0px 0px 260px 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.4vw;
        color: rgba(166, 214, 224, 255);
        text-align: left;
        font-weight: 600;
        margin: 0px;
    } 
    
    .menu-list-page {
        height: 327px;
        margin: 0 auto;
        align-content: center; 
    }
    
    .menu-list-page-block {
        height: 327px;
        max-width: 980px;
        display: grid;
        margin: 0 auto;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 327px;
    }
    
    .delivery {
        width: 327px;
        height: 34px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.9vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/pizza-del.png');
        background-repeat: no-repeat;
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        padding: 145px 0px 148px 0px;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .salads {
        margin: 0px;
        height: 34px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.9vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/salads.png');
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        padding: 145px 0px 148px 0px;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
    
    .desserts {
        margin: 0px;
        height: 34px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.9vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/desserts.png');
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        padding: 145px 0px 148px 0px;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }


    .delivery-button {
        display: none;
    }

    .salads-button {
        display: none;
    }

    .desserts-button {
        display: none;
    }
    
    .menu-top {
        height: 154px; 
    }
    
    .menu-top-content {
        max-width: 980px;
        height: 150px;   
        display: grid;
        grid-template-columns: 1fr 1fr 130px;
        grid-template-rows: 150px;
        margin: 0 auto;
        align-content: center;   
    }
    
    .menu-top-text {
        height: 150px;
        margin: 0px;
        grid-column: 1 / 3;
        grid-gap: 1 / 1;
    }
    
    h2.menu-top-header {
        height: 30px;
        padding: 72px 0px 10px 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.1vw;
        color: rgba(63, 64, 67, 255);
        text-align: left;
        font-weight: 500;
        display:  list-item;
        position: relative;
        list-style: none;
        margin: 0px;
    }
    
    h1.menu-top-comment {
        height: 17px;
        padding: 0px 0px 21px 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 2vw;
        color: rgba(203, 204, 206, 255);
        text-align: left;
        font-weight: 300;
        display: list-item;
        list-style: none;
        position: relative;
        margin: 0px;
    }
    
    .menu-top-logo {
        width: 120px;
        height: 98px;
        margin: 36px 15px 11px 0px;
        grid-column: 3 / 3;
        grid-gap: 1 / 1;
    }
    
    .menu-main-section {
        width: 100%;
        margin: 0px;
        display: flex;
    }
    
    .menu-main-section__tin {
        width: 50%;
        height: 75px;
        margin: 0 auto;
        background-color: #3f4043;
    }
    
    .menu-main-section__ves {
        width: 50%;
        height: 75px;
        margin: 0 auto;
        background-color: #acd8ad;
    }
    
    .mmc-tincidunt {
        width: 496px;
        height: 75px;
        margin: 0 auto;
        margin-right: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 2.9vw;
        color: rgba(172, 216, 173, 255);
        text-align: right;
        background-color: #3f4043;
        box-align: right;
    }
    
    .mmc-vestibulum {
        height: 75px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 2.9vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-color: #acd8ad;
        align-content: left;
        display: inline-block;
    }
    
    .mmc-tinc{
        height: 29px;
        padding: 18px 0px 28px 18px;
        float: left;
    }
    
    .mmc-vest {
        height: 28px;
        padding: 18px 0px 28px 18px;
        float: left;
    }
    
    .menu-main-content {
        max-width: 970px;
        margin: 0 auto;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 510px 376px;
    }
    
    .mmc-menu {
        height: 496px;
        margin: 0px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .mmc-menu-top {
        width: 100%;
        height: 90px;
        margin: 0px;
        display: inline-flex;
        justify-content: space-between;
    }
    
    .mmc-menu-top-text {
        height: 23px;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5vw;
        color: rgba(63, 64, 67, 255);
        padding: 41px 0px 35px 19px;
        font-weight: 500px;
        display: inline-flex;
        margin: 0px;
    }
    
    .mmc-top-logo {
        margin: 0px;
        display: inline-flex;
        padding: 20px 3px 30px 0px;
    }
    
    .menu-item {
        height: 72px;
        margin: 28px 0px 0px 18px;
    }
    
    .menu-item-name {
        height: 21px;
        font-family: "Montserrat", sans-serif;
        font-size: 2.1vw;
        color: rgba(63, 64, 67, 255);
        text-align: left;
        padding-bottom: 15px;
        list-style-type: none;
    }
    
    .menu-item-name-text {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4vw;
        color: rgba(63, 64, 67, 255);
        text-align: justify;
        line-height: 21px;
    }
    
    .mmc-augue {
        height: 482px;
        margin: 0px;
        grid-column: 2 / 2;
        grid-row: 1 / 2;
    }
    
    span.price {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        color: rgba(63, 64, 67, 255);
        float: right;
        font-weight: 600;
    }
    
    .mmc-id-dolor {
        margin: 0px;
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }
    
    .mmc-pharetra {
        margin: 0px;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    
    .copyright-comment {
        width: 100%;
        height: 97px;
        margin: 0px;
        background-color: #acd8ad;
    }
    
    .copyright-info {
        max-width: 980px;
        height: 97px;
        margin: 0 auto;
        align-content: center;
        display: grid;
        grid-template-columns: 130px 230px 1fr;
        grid-template-rows: 97px;
    }
    
    .copyright-logo {
        max-width: 104px;
        height: 83px;
        padding: 7px 0px 7px 30px;
        display: inline-flex;
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    
    .copy-logo-img {
        width: 104px;
        height: 83px;
    }
    
    .copyright-text {
        max-width: 490px;
        height: 20px;
        padding: 40px 15px 37px 0px;
        display: inline-flex;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 255);
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        justify-content: right;
    }
    
    }