@media screen and (min-width: 980px) {


body {
    margin: 0px;
    display: block;
}

.page {
    margin: 0 auto;
}

.sect-main-page {
    height: 952px;
}

.content-pizza-page-menu {
    height: 97px;
    margin: 0 auto;
    align-content: center;
    background-color: #373c3f;
}

.cont-pizza-page-menu {
    height: 97px;
    margin: 0 auto;
    align-content: center;
    background-color: #373c3f;
}

.pizza-page-menu {
    max-width: 1200px;
    height: 97px;
    margin: 0 auto;
    align-content: center;
    background-color: #373c3f;
    display: grid;
    grid-template-columns: 627px 1fr 134px;
    grid-template-rows: 97px;
}

.navigation-header {
    display: none;
}

.menu-links {
    height: 12px;
    padding: 43px 0px 40px 37px;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px;
    display: inline-flex;
}

.menu-links-item {
    margin: 0px;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    justify-content: space-between;
    text-decoration: none;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

.pizza-logo {
    width: 104px;
    height: 83px;
    padding: 8px 30px 6px 0px;
    grid-column: 3 / 3;
}

.nav-element {
    display: none;
}


.content-pizza-page-info {
    width: 100%;
    height: 849px;
    margin: 0px;
    background-image: url('../img/pizza.png');
    background-size: cover;
    background-repeat: no-repeat;
}  
 
.pizza-page-info {
    max-width: 1200px;
    height: 849px;
    margin: 0 auto;
    align-content: center;
    top: 0;
}

.pizza-page-info-header {
    height: 125px;
    padding: 53px 0px 65px 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 58px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 0px;
    font-weight: 600;
    font-stretch: condensed;
    line-height: 75px;
}

.ppih-email {
    max-width: 1200px;
    padding: 0px 0px 375px 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    font-weight: 600;
    margin: 0px;
} 

.menu-list-page {
    height: 400px;
    margin: 0 auto;
    align-content: center; 
}

.menu-list-page-block {
    height: 400px;
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
}

.delivery {
    max-width: 400px;
    height: 40px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.9vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/pizza-del.png');
    background-repeat: no-repeat;
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    padding: 180px 0px 178px 0px;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.salads {
    max-width: 400px;
    margin: 0px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.9vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/salads.png');
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    padding: 180px 0px 178px 0px;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

.desserts {
    max-width: 400px;
    margin: 0px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.9vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/desserts.png');
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    padding: 180px 0px 178px 0px;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.delivery-button {
    display: none;
} 

.salads-button {
    display: none;
}

.desserts-button {
    display: none;
}

.menu-top {
    height: 154px; 
}

.menu-top-content {
    max-width: 1200px;
    height: 154px;   
    display: grid;
    grid-template-columns: 625px 1fr 132px;
    grid-template-rows: 154px;
    margin: 0 auto;
    align-content: center;   
}

.menu-top-text {
    height: 154px;
    margin: 0px;
    grid-column: 1 / 3;
    grid-gap: 1 / 1;
}

h2.menu-top-header {
    width: 604px;
    height: 35px;
    padding: 64px 0px 9px 22px;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    font-weight: 500;
    display:  list-item;
    position: relative;
    list-style: none;
    margin: 0px;
}

h1.menu-top-comment {
    width: 400px;
    height: 17px;
    padding: 0px 0px 16px 23px;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    font-weight: 300;
    display: list-item;
    list-style: none;
    position: relative;
    margin: 0px;
}

.menu-top-logo {
    width: 120px;
    height: 98px;
    margin: 41px 5px 15px 0px;
    grid-column: 3 / 3;
    grid-gap: 1 / 1;
}

.menu-main-section {
    width: 100%;
    margin: 0px;
    display: flex;
}

.menu-main-section__tin {
    width: 50%;
    height: 75px;
    margin: 0 auto;
    background-color: #3f4043;
}

.menu-main-section__ves {
    width: 50%;
    height: 75px;
    margin: 0 auto;
    background-color: #acd8ad;
}

.mmc-tincidunt {
    width: 592px;
    height: 75px;
    margin: 0 auto;
    margin-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: rgba(172, 216, 173, 255);
    text-align: right;
    background-color: #3f4043;
    box-align: right;
}

.mmc-vestibulum {
    height: 75px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #acd8ad;
    align-content: left;
    display: inline-block;
}

.mmc-tinc{
    width: 418px;
    height: 29px;
    padding: 18px 0px 28px 18px;
    float: left;
}

.mmc-vest {
    width: 428px;
    height: 28px;
    padding: 18px 0px 28px 18px;
    float: left;
}

.menu-main-content {
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 530px 457px;
}

.mmc-menu {
    margin: 0px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mmc-menu-top {
    width: 594px;
    height: 107px;
    margin: 0px;
    justify-content: space-between;
    display: inline-flex;
}

.mmc-menu-top-text {
    height: 27px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.1vw;
    color: rgba(63, 64, 67, 255);
    padding: 38px 0px 20px 25px;
    font-weight: 500px;
    display: inline-flex;
    margin: 0px;
}

.mmc-top-logo {
    margin: 0px;
    display: inline-flex;
    padding: 22px 3px 36px 0px;
}

.menu-item {
    height: 84px;
    margin: 21px 0px 0px 25px;
}

.menu-item-name {
    height: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    padding-bottom: 15px;
    list-style-type: none;
}

.menu-item-name-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
    color: rgba(63, 64, 67, 255);
    text-align: justify;
    line-height: 21px;
}

.mmc-augue {
    margin: 0px;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

span.price {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    color: rgba(63, 64, 67, 255);
    float: right;
    font-weight: 600;
}

.mmc-id-dolor {
    margin: 0px;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.mmc-pharetra {
    margin: 0px;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.copyright-comment {
    width: 100%;
    height: 97px;
    margin: 0px;
    background-color: #acd8ad;
}

.copyright-info {
    max-width: 1200px;
    height: 97px;
    margin: 0 auto;
    align-content: center;
    display: grid;
    grid-template-columns: 141px 1fr 598px;
    grid-template-rows: 97px;
  
}

.copyright-logo {
    width: 104px;
    height: 83px;
    padding: 7px 0px 7px 37px;
    display: inline-flex;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.copy-logo-img {
    width: 104px;
    height: 83px;
}

.copyright-text {
    width: 560px;
    height: 20px;
    padding: 40px 38px 37px 0px;
    align-items: right;
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

}