@media screen and (min-width: 320px) and (max-width: 640px) {


body {
    margin: 0px;
    display: block;
}

.page {
    margin: 0 auto;
    align-content: center;
}

.sect-main-page {
    width: 100%;
    height: 420px;
}

.content-pizza-page-menu {
    width: 100%;
    height: 74px;
    margin: 0px;
    background-color: #373c3f;
}

.cont-pizza-page-menu {
    max-width: 640px;
    height: 74px;
    margin: 0 auto;
    align-content: center;
    background-color: #373c3f;
}

.pizza-page-menu {
    height: 74px;
    margin: 0 auto;
    align-content: center;
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
}

.menu-links {
    display: none;
}

.navigation-header {
    width: 129px;
    height: 21px;
    padding: 22px 0px 25px 38px;
    margin: 0px;
    font-size: 24pt;
    color: white;
    display: block;
    font-family: 'Montserrat';
    text-align: left;
}

.pizza-logo {
    display: none;
}

/* nav */

.nav-element {
    display: inline-block;
    width: 83px;
    height: 74px;
    background-color: #202529;
}

.navigation {
    width: 243px;
    transform: translate(-140px , 6px);
    display: none;
}

.nav-item {
    margin: 0px;
    background-color: #fafafa; 
    padding: 15px 0px 15px 30px;
}

.nav-item a{
    text-decoration: none; 
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(49, 47, 47);
    font-weight: 400; 
    list-style-type: none;
    outline: none;
}
    

.c-hamburger {
    width: 35px;
    height: 35px;
    color: white;
    padding: 0px;
    margin: 20px 15px 15px 25px;
    background-color: transparent;
    border: 0px;
    outline: none;
    
}

.c-hamburger:active {
    transform: translate(2px, 2px);
}

i.fas.fa-bars {
    width: 35px;
    height: 35px;
    color: white;
    padding: 0px;
}

/* nav */



.content-pizza-page-info {
    width: 100%;
    height: 346px;
    margin: 0px;
    background-image: url('../img/pizza.png');
    background-size: cover;
    background-repeat: no-repeat;
}  
 
.pizza-page-info {
    max-width: 640px;
    height: 346px;
    margin: 0 auto;
    align-content: center;
    top: 0;
}

.pizza-page-info-header {
    max-width: 430px;
    height: 74px;
    padding: 30px 0px 22px 38px;
    font-family: "Montserrat", sans-serif;
    font-size: 5.3vw;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 0px;
    font-weight: 600;
    font-stretch: condensed;
    line-height: 36px;
}

.ppih-email {
    height: 23px;
    max-width: 260px;
    padding: 0px 0px 197px 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 3.7vw;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    font-weight: 600;
    margin: 0px;
} 

.menu-list-page {
    max-width: 640px;
    height: 457px;
    margin: 0 auto;
    align-content: center;
}

.menu-list-page-block {
    max-width: 640px;
    height: 462px;
    margin: 0 auto;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 142px;
    grid-template-rows: 150px 150px 150px;
    grid-row-gap: 3px;
}

.delivery {
    max-width: 500px;
    height: 30px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 5.7vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/pizza-del.png');
    background-size: cover;
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 59px 0px 62px 0px;
}

.delivery-button {
    max-width: 150px;
    height: 151px;
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    background-color: #acd8ad;
}

.salads {
    max-width: 500px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 5.7vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/sal.png');
    background-size: cover;
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 59px 0px 58px 0px;
}

.salads-button {
    max-width: 150px;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    background-color: #acd8ad;
}

.desserts {
    max-width: 500px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 5.7vw;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url('../img/des.png');
    background-size: cover;
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    padding: 59px 0px 58px 0px;
}

.desserts-button {
    max-width: 150px;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    background-color: #acd8ad;
}


i.fas  {
    width: 2px;  
    font-size: 35px;
    margin: 0 auto;
    align-content: center;
    padding: 60px 0px 60px 45%;
    color: white;
    
}

div.sp {
    margin-top: 59px;
    margin-bottom: 58px;
}

.menu-top {
    max-width: 640px;
    height: 126px;
    margin: 0 auto;
    align-content: center;   
}

.menu-top-content {
    max-width: 640px;
    height: 126px;   
}

.menu-top-text {
    height: 126px;
    margin: 0px;
}

h2.menu-top-header {
    height: 35px;
    padding: 45px 10px 9px 21px;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    font-weight: 500;
    display:  list-item;
    position: relative;
    list-style: none;
    margin: 0px;
}

h1.menu-top-comment {
    height: 17px;
    padding: 0px 0px 20px 22px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    font-weight: 300;
    display: list-item;
    list-style: none;
    position: relative;
    margin: 0px;
}

.menu-top-logo {
    width: 109px;
    height: 89px;
    margin: 50px 29px 11px 0px;
    display: none;
}

.menu-main-section {
    width: 100%;
    height: 75px;
    margin: 0px;
    display: block;
    position: relative;
}


/* блок 1 */


.menu-main-section__tin {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #3f4043;
    order: 1;
    display: block;
    margin-bottom: 805px;
}


/* блок 4*/

.menu-main-section__ves {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #acd8ad;
    order: 4;
    display: block;
}

.mmc-tincidunt {
    height: 75px;
    margin: 0 auto;
    margin-right: 0px;
    font-family: "Montserrat", sans-serif;
    color: rgba(172, 216, 173, 255);
    text-align: left;
    background-color: #3f4043;
}

.mmc-vestibulum {
    height: 75px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #acd8ad;
    align-content: left;
    display: inline-block;
}

.mmc-tinc{
    height: 29px;
    padding: 18px 0px 28px 29px;
    font-size: 5.1vw;
    line-height: 34px;
}

.mmc-vest {
    height: 28px;
    padding: 18px 0px 28px 29px;
    font-size: 5.1vw;
    line-height: 34px;
}


.menu-main-content {
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* блок 2*/

.mmc-menu {
    max-width: 640px;
    height: 485px;
    margin: 0px;
    order: 2;
}

.mmc-menu-top {
    width: 100%;
    margin: 0px;
    display: inline-flex;
    justify-content: space-between;
}

.mmc-menu-top-text {
    height: 23px;
    font-family: "Montserrat", sans-serif;
    font-size: 4.1vw;
    color: rgba(63, 64, 67, 255);
    padding: 38px 0px 27px 30px;
    font-weight: 500px;
    display: inline-flex;
    margin: 0px;
}

.mmc-top-logo {
    margin: 0px;
    display: inline-flex;
    padding: 22px 36px 23px 0px;
}

.menu-item {
    max-width: 568px;
    height: 72px;
    margin: 28px 26px 0px 30px;
}

.menu-item-name {
    max-width: 568px;
    height: 21px;
    font-family: "Montserrat", sans-serif;
    font-size: 4.2vw;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    padding-bottom: 15px;
}

.menu-item-name-text {
    max-width: 568px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4vw;
    color: rgba(63, 64, 67, 255);
    text-align: justify;
    line-height: 17px;
}


/* блок 5 */

.mmc-augue {
    max-width: 640px;
    height: 485px;
    margin: 65px 0px 0px 0px;
    order: 5;
}

span.price {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: rgba(63, 64, 67, 255);
    float: right;
    font-weight: 600;
}


/* блок 3 */

.mmc-id-dolor {
    max-width: 640px;
    height: 332px;
    margin: 0px;
    order: 3;
}

/* блок 6*/

.mmc-pharetra {
    max-width: 640px;
    height: 409px;
    margin: 0px;
    order: 5;
}

.copyright-comment {
    width: 100%;
    height: 97px;
    margin: 0px;
    background-color: #acd8ad;
    margin-bottom: 50px;
}

.copyright-content {
    max-width: 640px;
    height: 97px;
    margin: 0 auto;
    align-content: center;
}

.copyright-info {
    width: 100%;
    height: 97px;
    display: inline-flex;
}

.copyright-logo {
    width: 104px;
    height: 83px;
    padding: 7px 0px 7px 37px;
    display: none;
}

.copy-logo-img {
    width: 104px;
    height: 83px;
    display: none;
}

.copyright-text {
    width: 390px;
    height: 46px;
    padding: 20px 0px 23px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    margin: 0 auto;
    align-content: center;
    text-align: center;
    line-height: 33px;
}

}