@media screen and (max-width: 320px) {

    body {
        margin: 0px;
        display: block;
    }
    
    .page {
        margin: 0 auto;
        align-content: center;
    }
    
    .sect-main-page {
        width: 100%;
        height: 210px;
    }
    
    .content-pizza-page-menu {
        width: 100%;
        height: 37px;
        margin: 0px;
        background-color: #373c3f;
    }
    
    .cont-pizza-page-menu {
        max-width: 320px;
        height: 37px;
        margin: 0 auto;
        align-content: center;
        background-color: #373c3f;
    }
    
    .pizza-page-menu {
        height: 37px;
        margin: 0 auto;
        align-content: center;
        background-color: #373c3f;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-links {
        display: none;
    }
    
    .navigation-header {
        width: 65px;
        height: 12px;
        padding: 12px 0px 12px 19px;
        margin: 0px;
        font-size: 12px;
        color: white;
        display: block;
        font-family: 'Montserrat';
        text-align: left;
    }
    
    .pizza-logo {
        display: none;
    }

    

    /* nav */

    .nav-element {
        display: inline-block;
        width: 41px;
        height: 37px;
        background-color: #202529;
    }
    
    .navigation {
        width: 243px;
        transform: translate(-140px , 6px);
        display: none;
    }
    
    .nav-item {
        margin: 0px;
        background-color: #fafafa; 
        padding: 15px 0px 15px 30px;
    }
    
    .nav-item a{
        text-decoration: none; 
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: rgb(49, 47, 47);
        font-weight: 400; 
        list-style-type: none;
        outline: none;
    }
        
    
    .c-hamburger {
        width: 22px;
        height: 22px;
        color: white;
        padding: 0px;
        margin: 8px 0px 7px 8px;
        background-color: transparent;
        border: 0px;
        outline: none;
        
    }
    
    .c-hamburger:active {
        transform: translate(2px, 2px);
    }

    i.fas.fa-bars {
        width: 18px;
        height: 18px;
        color: white;
        padding: 0px;
        font-size: 22px;
    }

    /* nav */

    .content-pizza-page-info {
        width: 100%;
        height: 173px;
        margin: 0px;
        background-image: url('../img/pizza.png');
        background-size: cover;
        background-repeat: no-repeat;
    }  
     
    .pizza-page-info {
        max-width: 320px;
        height: 173px;
        margin: 0 auto;
        align-content: center;
        top: 0;
    }
    
    .pizza-page-info-header {
        max-width: 210px;
        height: 37px;
        padding: 19px 0px 11px 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        color: rgba(255, 255, 255, 255);
        text-align: left;
        margin: 0px;
        font-weight: 600;
        font-stretch: condensed;
        line-height: 21px;
    }
    
    .ppih-email {
        height: 18px;
        max-width: 260px;
        padding: 0px 0px 85px 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.1vw;
        color: rgba(166, 214, 224, 255);
        text-align: left;
        font-weight: 600;
        margin: 0px;
    } 
    
    .menu-list-page {
        max-width: 320px;
        height: 225px;
        margin: 0 auto;
        align-content: center;
    }
    
    .menu-list-page-block {
        max-width: 320px;
        height: 225px;
        margin: 0 auto;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 71px;
        grid-template-rows: 75px 75px 75px;
        grid-row-gap: 1px;
        padding-top: 3px;
    }
    
    .delivery {
        max-width: 249px;
        height: 21px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 5.3vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/pizza-del.png');
        background-size: cover;
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        padding: 27px 0px 27px 0px;
    }
    
    .delivery-button {
        max-width: 75px;
        height: 74px;
        grid-column: 2 / 2;
        grid-row: 1 / 3;
        background-color: #acd8ad;
    }
    
    .salads {
        max-width: 249px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 5.3vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/sal.png');
        background-size: cover;
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 26px 0px 28px 0px;
    }
    
    .salads-button {
        max-width: 75px;
        grid-column: 2 / 2;
        grid-row: 2 / 3;
        background-color: #acd8ad;
    }
    
    .desserts {
        max-width: 249px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 5.3vw;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-image: url('../img/des.png');
        background-size: cover;
        font-weight: 700;
        align-items: center;
        vertical-align: middle;
        grid-column: 1 / 2;
        grid-row: 3 / 3;
        padding: 25px 0px 27px 0px;
    }
    
    .desserts-button {
        max-width: 75px;
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        background-color: #acd8ad;
    }
    
    
    i.fas  {
        width: 2px;  
        font-size: 25px;
        margin: 0 auto;
        align-content: center;
        padding: 24px 0px 24px 45%;
        color: white;
        
    }
    
    .menu-top {
        max-width: 320px;
        height: 66px;
        margin: 0 auto;
        align-content: center;   
    }
    
    .menu-top-content {
        max-width: 640px;
        height: 126px;   
    }
    
    .menu-top-text {
        height: 126px;
        margin: 0px;
    }
    
    h2.menu-top-header {
        height: 17px;
        padding: 26px 10px 4px 9px;
        font-family: "Montserrat", sans-serif;
        font-size: 5vw;
        color: rgba(63, 64, 67, 255);
        text-align: left;
        font-weight: 500;
        display:  list-item;
        position: relative;
        list-style: none;
        margin: 0px;
    }
    
    h1.menu-top-comment {
        height: 9px;
        padding: 0px 0px 10px 9px;
        font-family: "Montserrat", sans-serif;
        font-size: 3.1vw;
        color: rgba(203, 204, 206, 255);
        text-align: left;
        font-weight: 300;
        display: list-item;
        list-style: none;
        position: relative;
        margin: 0px;
    }
    
    .menu-top-logo {
        display: none;
    }
    
    .menu-main-section {
        width: 100%;
        height: 37px;
        margin: 0px;
        display: block;
        position: relative;
    }
    
    .menu-main-section__tin {
        width: 100%;
        height: 37px;
        margin: 0 auto;
        background-color: #3f4043;
        order: 1;
        display: block;
        margin-bottom: 490px;
    }
    
    .menu-main-section__ves {
        width: 100%;
        height: 37px;
        margin: 0 auto;
        background-color: #acd8ad;
        order: 4;
        display: block;
    }
    
    .mmc-tincidunt {
        height: 37px;
        margin: 0 auto;
        margin-right: 0px;
        font-family: "Montserrat", sans-serif;
        color: rgba(172, 216, 173, 255);
        text-align: left;
        background-color: #3f4043;
    }
    
    .mmc-vestibulum {
        height: 37px;
        margin: 0px;
        font-family: "Montserrat", sans-serif;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        background-color: #acd8ad;
        align-content: left;
        display: inline-block;
    }
    
    .mmc-tinc{
        height: 14px;
        padding: 12px 0px 11px 19px;
        font-size: 5.6vw;
        line-height: 16px;
    }
    
    .mmc-vest {
        height: 14px;
        padding: 12px 0px 11px 19px;
        font-size: 5.6vw;
        line-height: 16px;
    }
    
    
    .menu-main-content {
        margin: 0 auto;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .mmc-menu {
        max-width: 320px;
        margin: 0px;
        order: 2;
    }
    
    .mmc-menu-top {
        width: 100%;
        margin: 0px;
        display: inline-flex;
        justify-content: space-between;
    }
    
    .mmc-menu-top-text {
        height: 14px;
        font-family: "Montserrat", sans-serif;
        font-size: 4.6vw;
        color: rgba(63, 64, 67, 255);
        padding: 26px 0px 13px 19px;
        font-weight: 500px;
        display: inline-flex;
        margin: 0px;
    }
    
    .mmc-top-logo {
        width: 25px;
        height: 25px;
        margin: 0px;
        display: inline-flex;
        padding: 19px 18px 0px 0px;
    }
    
    .menu-item {
        max-width: 286px;
        margin: 11px 18px 0px 17px;
    }
    
    .menu-item-name {
        max-width: 286px;
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        color: rgba(63, 64, 67, 255);
        text-align: left;
        padding-bottom: 8px;
    }
    
    .menu-item-name-text {
        max-width: 286px;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5vw;
        color: rgba(63, 64, 67, 255);
        text-align: justify;
        line-height: 14px;
    }
    
    
    .mmc-augue {
        max-width: 320px;
        margin: 60px 0px 0px 0px;
        order: 5;
    }
    
    span.price {
        font-family: "Montserrat", sans-serif;
        font-size: 5.1vw;
        color: rgba(63, 64, 67, 255);
        float: right;
        font-weight: 600;
    }
    
    .mmc-id-dolor {
        max-width: 320px;
        height: 176px;
        margin: 0px;
        order: 3;
    }
   
    .mmc-pharetra {
        max-width: 640px;
        height: 230px;
        margin: 0px;
        order: 5;
    }
    
    .copyright-comment {
        width: 100%;
        height: 55px;
        margin: 0px;
        background-color: #acd8ad;
        margin-bottom: 22px;
    }
    
    .copyright-content {
        max-width: 320px;
        height: 55px;
        margin: 0 auto;
        align-content: center;
    }
    
    .copyright-info {
        width: 100%;
        height: 55px;
        display: inline-flex;
    }
    
    .copyright-logo {
        display: none;
    }
    
    .copy-logo-img {
        display: none;
    }
    
    .copyright-text {
        width: 241px;
        height: 31px;
        padding: 10px 0px 11px 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: rgba(255, 255, 255, 255);
        margin: 0 auto;
        align-content: center;
        text-align: center;
        line-height: 18px;
    }
    }