@font-face {
    font-family: 'FontAwesome';
    src: url("../font-awesome/css/fontawesome.css"),
         url("../font-awesome/css/fontawesome.min.css"),
         url("../font-awesome/css/all.min.css"),
         url("../font-awesome/bootstrap/css/bootstrap.min.css"),
         url("../fonts/fonts.ttf"),
         url("../font-awesome/bootstrap/css/bootstrap-theme.min.css");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}

.page {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 1012px;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/1/Layer1.png);
    background-size: cover;
} 

.header-the-ham {
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    align-content: center;
    z-index: 0;
}

.header-top { 
    height: 120px;
    margin-left: calc(-50vw + 50%);
    width: 99.4vw;
    background-color: #605f5a; 
    opacity: 0.7;
    z-index: 1;
    position: relative;
}

.header-top-info {
    width: 1160px;
    margin: 0 auto;
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.header-top-logo {
    width: 197px;
    height: 58px;
    padding: 30px 0px 29px 0px;
    align-self: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: rgba(255, 255, 255, 255); 
    display: inline-block;
    position: relative;
    z-index: 3;

}

.header-top-logo p{
    top: 0;
    left: 0;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 700;
    position: absolute;
    margin: 37px 14px 37px 14px;
}

.header-top-logo span {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 30px;
    color: rgba(24, 207, 171, 255);
    font-weight: 700;
    position: relative;
}

.header-logo-img {
    width: 57px;
    height: 58px;
    padding-right: 8px;
    z-index: 4;
}

h1.slogan {
    position: absolute;
    margin: 0px;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: rgba(255, 255, 255, 255); 
    margin: 17px 0px 17px 0px;
    line-height: 29px;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    font-weight: lighter;
}

.header-top-menu {
    width: 595px;
    height: 65px;
    float: right;
    padding: 56px 0px 0px 0px;
    position: relative;
    margin-left: auto;
}

.header-top-menu ul{
    width: 595px;
    height: 65px;
    margin: 0px;
    padding: 0px;
}

.header-top-menu li{
    height: 65px;
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
}

.header-top-menu-link {
    height: 62px;
    text-decoration: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    color: rgba(212, 212, 212, 255);
    text-align: left;
    margin-right: 10px;
}

a.header-top-menu-link:hover {
    text-decoration: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    color: rgba(24, 207, 171, 255);
    text-align: left;
    border-bottom: 1.5px solid rgba(24, 207, 171, 255);
}

/**/

i.fas {
    color: white;
    font-size: 23px;
    padding-right: 8px;
}

.element {
    width: 65px;
    height: 67px;
    padding: 54px 0px 0px 0px;
    float: right;
    transition: all 0.5s ease;
}

.input {
    width: 0;
    background: transparent;
    border: transparent;
    transform: rotateY(10px);
    cursor: pointer;
}

.element.active {
    width: 230px;
    height: 39px;
    border-color: grey;
    transition: all 0.5s ease;
}

input#search.input.active {
    width: 80%;
    height: 39px;
    transition: all 0.5s ease;
    background-color: white;
    border: 1px Solid #cce2ee;
    border-radius: 7px; 
    color: rgb(56, 55, 55);
    z-index: 10;
    padding-left: 10px;
    transform: rotateX(10px);
    cursor: pointer;
}

input[type='text'] {
    width: 80%;
    height: 39px;
    transition: all 0.5s ease;
    background-color: white;
    border: 1px Solid #cce2ee;
    border-radius: 9px; 
    color: white;
    position: relative;
    cursor: pointer;
}

input::placeholder {
    color: rgb(56, 56, 56);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}


/**/


.header-headline {
    width: 1160px;
    height: 440px;
}


.the-ham {
    height: 28px;
    font-size: 35px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: white;
    padding: 240px 0px 40px 0px;
    margin: 0px;
    text-align: center;
}

.WP {
    color: rgba(24, 207, 171, 255);
}

.we-are {
    height: 65px;
    font-size: 79px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
}

.just-buy {
    font-size: 35px;
    font-family: 'Montserrat-light', serif;
    font-weight: 100;
    font-stretch: ultra-expanded;
    color: rgba(212, 212, 212, 255);
    padding: 44px 0px 142px 0px;
    margin: 0px;
    text-align: center;
    letter-spacing: 2px;
}

.btns {
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: center;
}

.btn-ex {
    width: 166px;
    height: 61px;
    top: 170px;
    left: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;
    margin: 0px 19px 0px 0px;
    text-decoration: none;
    border-radius: 5px;
    border-block-start-color: white;
    border-block-start-width: 5px;
    border-image-repeat: repeat;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px; 
    background-color: #18cfab;
    color: aliceblue; 
    outline: none;  
}

.btn-pu {
    width: 166px;
    height: 61px;
    top: 170px;
    left: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 19px;
    text-decoration: none;
    border-radius: 5px;
    border-block-start-color: white;
    border-block-start-width: 5px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px; 
    background-color:  #00cbf6;
    color: aliceblue;
    outline: none;
}


/*THEME DESCRIPTION START*/

.theme-description {
    height: 296px;
    width: 100%;
    display: inline-flex;
}

.theme-descr-dark {
    width: 25%;
    height: 296px;
    background-color: #1c2a33; 
    border-top: 6px solid  #18cfab;
}

.theme-descr-light {
    width: 25%;
    height: 296px;
    background-color: #18cfab;
    border-top: 6px solid white;
}

.td-dark {
    margin: 60px 0px 35px 150px;
}

.td-light {
    margin: 75px 0px 35px 150px;
}

.td-text-dark { 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #18cfab;
    margin: 0px;
}

.td-text-light {
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 8px 0px 0px 0px;
    
}


/*OUR SERVICES START*/


.our-services {
    width: 100%;
    height: 588px;
    overflow: hidden;
}

.our-services-content {
    width: 1160px;
    height: 588px;
    align-content: center;
    margin: 0px auto;
    overflow: hidden;
}

.section-name {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    margin: 82px 0px 37px 0px;
    font-weight: 100;
}

.underline {
    margin-left: 525px;
    align-self: center;
}

#tabs {
    width: 1160px;
    height: 250px;
    margin: 64px 0px 94px 0px;
    white-space: nowrap;
    
}

#tabs ul {
    width: 1159px;
    height: 73px;
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    border: 1px solid #ebebeb;
}

#tabs li {
    width: 193px;
    height: 73px;
    display: inline-block;
    border-right: 1px solid #ebebeb;
}

#tabs li:hover {
    width: 193px;
    height: 73px;
    display: inline-block;
}

.os-menu-link {
    width: 190px;
    height: 16px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat-Regular', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16.40184px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
    padding: 28px 0px 28px 0px;
    text-justify: auto;
    margin: 0 auto;

}

a.os-menu-link {
    font-family: 'Montserrat-Regular';
    font-size: 16.40184px;
    color: rgba(113, 113, 113, 255);
    text-align: center;
    margin: 0px;
}

a.os-menu-link:hover {
    width: 193px;
    height: 16px;
    background-color: #18cfab;
    border: 1px solid #ebebeb;
    color: white;
    border-bottom: 0px;
}

.geometric {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    margin: 0 auto;
    top: -3px;
    border-top-color: #18cfab; 
}

#tabs_container {
    width: 1160px;
    height: 142px;
    margin: 18px 0px 0px 0px;
    position: relative;
}

.tabs-content {
    width: 1160px;
    height: 142px;
    margin: 18px 0px 0px 0px;
    position: absolute;
    opacity: none;
}

.click-btn-img {
    width: 194px;
    height: 139px;
    margin: 0px;
    display: block;
    float: left;
    top: 0;
    position: absolute;
}

img.click-btn-img {
    width: 194px;
    height: 139px;
}

.click-btn-text {
    width: 943px;
    height: 136px;
    margin: 0px;
    padding-left: 20px;
    display: block;
    white-space: normal;
    top: 0;
    left: 0;
    line-height: 28px;
    position: relative;
    float: right;
    color: rgba(119, 119, 119, 255);
    font-family: 'AdobeInvisFont', 'Montserrat-Light';
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
}



/*ADVERTISING SECTION START*/

.advertising {
    width: 100%;
    height: 475px;
    background-image: url(../img/3/BG.png);
    overflow: hidden;
}

.advertising-content {
    width: 1160px;
    height: 475px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

.adv-slogan {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 39px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    margin: 128px 0px 35px 0px;
}

.adv-slogan-descript {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    margin: 0px;
}

.btn-adv {
    width: 165px;
    height: 61px;
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 0px auto;
    margin-top: 76px;
    text-decoration: none;
    border-radius: 5px;
    border-block-start-color: white;
    border-block-start-width: 5px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px; 
    background-color: #18cfab;
    color: aliceblue; 
    outline: none; 
    font-size: 12px;
    font-family: 'Montserrat-Regular', sans-serif;
}

/*OUR AMASING WORK START*/

.our-amazing-work {
    width: 100%;
    height: 1212px;
    overflow: hidden;
}

.our-amazing-work-content {
    width: 1160px;
    height: 1212px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

.oaw-slogan {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    margin: 79px 0px 25px 0px;
    font-weight: 100;
}

.content-info {
    width: 1160px;
    height: 1056px;
    margin: 0 auto;
}

.content-info-menu {
    width: 1160px;
    height: 60px;
}

.content-info-menu ul{ 
    height: 60px;
    width: 609px;
    margin: 0 auto;
    overflow: hidden;
    align-content: center;
    display: flex;
    padding: 0px;
    margin-top: 70px;
}

.ci-menu {
    height: 14px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: #717171;
    display: inline-block;
    border: 0.5px solid #8c8e8f69;
    background-color: #ffffff;
    padding: 22px 25px 20px 25px;
}

.ci-menu:hover {
    height: 14px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: #18cfab;
    display: inline-block;
    border: 0.5px solid  #8c8e8f69;
    background-color: #ffffff;
    border-top: 3px solid  #18cfab;
    padding: 20px 25px 19px 25px;
}

.ci-menu a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: #717171;
}

.btn-load-more {
    width: 165px;
    height: 60px;
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 15px;
    font-family: 'Montserrat-bold', sans-serif;
    padding: 10px 15px 10px 20px;
    background-color:   #18cfab;
    color: aliceblue; 
    margin: 0px auto;
    margin-top: 71px;
    text-decoration: none;
    border-radius: 3px;
    border: 0px;
    outline: none; 
}

.btn-load-more span {
    font-size: 20px;
    padding-right: 6px;
}

.btn-load-more-remove {
    display: none;
}

.content-info-pict {
    width: 100%;
    height: 622px;
    margin: 70px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.cip-img {
    width: 284px;
    height: 206px;
    margin: 0px;
    position: relative;
}

.cip-hover-info {
    width: 284px;
    height: 207px;
    background-color: white;
    border-top: 5px solid  #18cfab;
    position: absolute;
    display: none;
}

.cip-img:hover .cip-hover-info {
    display: block;
    animation-name: 'cip-img-hover';
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-name: 'cip-img-hover';
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: 'cip-img-hover';
    -moz-animation-duration: 3s;
    -moz-animation-fill-mode: both;
}

@keyframes cip-img-hover {
    0% {
        opacity: 0;
        transform: translate(0, -250%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translate(0, -100%);
    }
}


.cip-href {
    width: 286px;
    height: 206px;
}

.signes {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.infinity {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1.2px solid  #18cfab;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.search {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1.2px solid  #18cfab;
    display: inline-block;
    position: absolute;
    background-color: #18cfab;
    margin: 0px;
}

.search i.fas  {
    margin: 12px; 
    font-size: 18px;
    padding: 0px;
}

.infinity i.fas {
    margin: 12px; 
    font-size: 18px;
    padding: 0px;
    color: #18cfaa;
}

.cip-cd {
    width: 170px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(24, 207, 171, 255);
}

.cip-wb {
    width: 90px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    color: rgba(138, 138, 138, 255);
    margin-top: 8px;
}

.load-more-images {
    display: none;
}

.load-else-images {
    display: none;
}

.input {
    width: 0;
    background: transparent;
    border: transparent;
    transform: rotateY(10px);
    cursor: pointer;
    display: inline-block;
}

input#search-inp.input.active {
    width: 80%;
    height: 30px;
    transition: all 0.5s ease;
    background-color: white;
    border: 1px Solid #cce2ee;
    border-radius: 7px; 
    color: rgb(56, 55, 55);
    z-index: 10;
    padding-left: 10px;
    transform: rotateX(10px);
    cursor: pointer;
}

input[type='text'] {
    width: 80%;
    height: 39px;
    transition: all 0.5s ease;
    background-color: white;
    border: 1px Solid #cce2ee;
    border-radius: 9px; 
    color: white;
    position: relative;
    cursor: pointer;
}

input::placeholder {
    color: rgb(56, 56, 56);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
}


/*BREAKING-NEWS-START*/

.breaking-news {
    width: 100%;
    height: 955px;
    margin: 0px;
    overflow: hidden;
}

.breaking-news-content {
    width: 1120px;
    height: 955px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

.blog-post-news {
    height: 612px;
    width: 1120px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.blog-post-news ul{
    height: 612px;
    width: 1120px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

li.bp-news-link {
    height: 280px;
    width: 263px;
}

.bp-news-link {
    height: 280px;
    width: 263px;
    list-style: none;
}

.bp-news-link:hover  .post-info-link { 
    color: #18cfab;
}

.bp-news-link:hover .bp-img-link {
    background-color: #18cfab
}

.bp-img img{
    position: absolute;
}

.bp-img p {
    margin: 0px;
}

.bp-img-link {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    overflow: hidden;
    float: right;
    top: 0;
    white-space: normal;
    position: relative;
    margin: 0px;
}


.bp-img-link span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    overflow: hidden;
    float: right;
    text-align: center;
    text-justify: middle; 
    padding: 14px;
    font-weight: 100
}

.post-info {
    width: 261px;
    height: 72px;
    background-color: #f8fcfe;
    display: list-item;
    position: relative;
    top: 200px;
    border: 1px solid rgba(128, 128, 128, 0.267);
}

.post-info-link {
    width: 250px;
    height: 18px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 18.47736px;
    color: rgba(113, 113, 113, 255);
    text-decoration: none;
    position: absolute;
    padding-top: 14px;
    padding-left: 13px;
}

.by-admin {
    float: left;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14.37128px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
    text-decoration: none;
    top: 40px;
    left: 17px;
    position: absolute;
}

.two-comment {
    float: right;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14.37128px;
    color: rgba(119, 119, 119, 255);
    text-align: center;
    text-decoration: none;
    justify-items: bottom;
    top: 40px;
    left: 0px;
    position: relative;
}

/*COMMENT THE HAM START*/

.comment-the-ham {
    width: 100%;
    height: 851px;
    margin: 0px;
    overflow: hidden;
    background-image: url(../img/7/BG.png);
}

.comment-the-ham-content {
    width: 1120px;
    height: 851px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

.comment-slogan {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 79px 0px 25px 0px;
    font-weight: 100;
}

.quotes-img {
    width: 44px;
    margin: 0 auto;
    align-self: center;
    margin-top: 70px;
}

.comment-info  {
    width: 1000px;
    height: 50px;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    margin: 0 auto;
    margin-top: 43px;
    line-height: 30px;
}

.comment-name {
    width: 100px;
    height: 42px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 43px;
}

.comment-name span {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 12px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    line-height: 40px;
}

.blog-post-faces {
    width: 502px;
    height: 297px;
    margin: 0 auto;
    align-items: center;
    margin-top: 42px;
}

.bp-faces-img {
    width: 143px;
    margin: 0 auto;
    align-items: center;
    border-radius: 50%;
}

.bp-faces-img img {
    align-items: center;
    border-radius: 50%;
    border: double 2px solid;
    box-shadow: 0 0 0 3px #18cfab,
    0 0 0 12px #18cfaa41;
}

.bp-faces-menu {
    height: 82px;
    width: 470px;
    margin: 65px 10px 0px 10px;
    display: flex;
    position: absolute;
    justify-content: space-between; 
    align-items: middle;
    
}

.btn-faces-left {
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid white;
    position: relative;
    margin-top: 15px;
}

.btn-transp {
    background-color: transparent;
}
.btn-green {
    background-color:  #18cfaa;
}

#faces-menu {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: double 2px solid;
    box-shadow: 0 0 0 1px #18cfaa,
    0 0 0 6px #18cfaa44;
    display: inline-block;
    
}

.btn-faces-right {
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid white;
    position: relative;
    margin-top: 15px;
}


/*GALLERY START */

.gallery {
    width: 100%;
    height: 1492px;
    margin: 0px;
    overflow: hidden;
}

.gallery-content {
    width: 1138px;
    height: 1370px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

.gallery-images {
    width: 100%;
    height: 1138px;
    margin-top: 75px;
    justify-content: space-evenly;
}

.gallery-images-block {
    width: 1138px;
    height: 930px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-count: 3;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 17px;
    column-width: 370px;
    justify-items: space-between;
}

.gallery-images-block p  {
    width: 370px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 7px;
}

span.inside {
    display: flex;
    width: 364px;
    height: 169px;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
}

span.inside p {
    width: 180px;
    margin: 0px;
    padding: 0px;
}

span.inside-block {
    display: flex;
    width: 370px;
    height: 270px;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
}

span.inside-block p {
    width: 119px;
    height: 87px;
    margin: 0px;
}

.footer-copyright {
    width: 100%;
    height: 110px;
    text-align: center;
    margin: 0px 0px 8px 0px;
    background-color: #22353f;
}

.footer-copyright p {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color: white;
    text-align: middle;
    font-weight: 100;
    margin: 0px;
    padding: 48px 0px 48px 0px;
}

.footer-copyright span {
    color: #18cfab;
}

.btn-load-more-gallery {
    width: 165px;
    height: 60px;
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 15px;
    font-family: 'Montserrat-bold', sans-serif;
    padding: 10px 15px 10px 20px;
    background-color:   #18cfab;
    color: aliceblue; 
    margin: 0px auto;
    margin-top: 71px;
    text-decoration: none;
    border-radius: 3px;
    border: 0px;
    outline: none; 
}
