body {
    margin: 0px;
}

.page {
    width: 100%;
    height: 100%;
    max-width: 1520px;
    margin: 0px;
    background-size: cover;
}

.header-top {
    height: 900px;
    width: 100%;
    max-width: 1520px;
    background-image: url(../img/1/Layer19.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.container-header {
    height: 900px;
    width: 1169px;
    margin: 0;
    margin-left: 175px;
}

.header-company-name {
    font-family: "Montserrat", sans-serif;
    color:  #fff;
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    padding: 531px 0px 16px 0px;
}

.header-company-description {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 18px;
    margin-bottom: 28px;
    font-weight: 'Regular';
}

.header-slogan {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    padding: 26px 26px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px;
}

.text-orange{
    color: #f1ad1d;
}

/*ABOUT US START*/

.about-us {
    height: 450px;
    width: 100%;
    text-decoration: black;

}

.container-about-us {
    height: 450px;
    width: 1169px;
    margin: 0px 175px 0px 175px;
}

.section-title {
    font-family: 'Montserrat', sans-serif, bold;
    color: rgb(0, 0, 0);
    font-size: 22px;  
    text-align: center;
    margin-top: 59px;
}

.section-discription {
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: center;
    font-weight: 'regular';
    margin: 35px 0px 50px 0px;
}

.pict {
    padding-left: 565px;
}

.about-us-awards-img {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 450px;
}


/*NAVBAR START*/

.navbar {
    height: 80px;
    padding-top: 77px;
}

.container_navbar {
    height: 433px;
    width: 1169px;
}

.navbar-logo {
    max-width: 100%;
    width: 132px;
    padding-left: 200px;
    height: 28px;
    display: inline-block;
    align-items: left;
    vertical-align: top;
}

.navbar-nav {
    display: inline-block;
    margin-bottom: inherit;
    margin-top: 2px;
    height: 20px;
    width: 840px;
    align-items: right;
    display: inline-block;
    padding-left: 199px;
    padding-right: 0px;
    vertical-align: top;
}

.navbar-nav-item {
    display: inline-block;
    margin-left: 70px;
    height: 20px;
    margin-left: 62px;
    margin-right: 0px;
}

.navbar-nav-link {
    height: 32px;
    text-emphasis: none;
    text-transform: uppercase;
    font-family: "Lato" sans-serif;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 17px;
    text-decoration: none;
}

.underline {
    padding-left: 200px;
    padding-right: 100px;
    width: 1169px;
    padding-top: 0px;
}


/*BUSINESS START*/

.business-prop-menu {
    text-decoration: black;
    height: 160px;
}

.container-menu {
    height: 160px;
}

.section-title-prop-menu {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;  
    text-align: center;
    margin-top: 65px;
    font-weight: bold;
}

.orange-line2 {
    width: 60px;
    height: 3px;
    align-items: center;
    padding-top: 52px;
    padding-right: 560px;
    padding-left: 560px;
    margin: 0px;

}

.section-discription-prop-menu {
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
}


/*OUR-FEAUTURES START*/

.our-features {
    height: 319px;
    width: 1169px;
    padding-left: 0px;
    margin: 20px 0px 122px 200px;
}

.container-our-feat {
    margin-top: 0px;
}

.features clearfix {
    margin-top: 125px;
}

.features-list {
    float: left;
    width: 570px;
    height: 319px;
    margin: 0px 0px 0px 0px;
}

.features-item {
    position: relative;
    width: 260px;
    height: 145px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.features-item:nth-child(odd) {
    margin-right: 30px;
}

.mr30 {
    margin-right: 30px;
}

.features-name {
    width: 117px;
    height: 44px;
    position: absolute;
    background: #333333;;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 14px;
    bottom: 11px;
    left: 13px;
    margin: 0px;
}

.features-description{
    float: right;
    width: 569px;
    height: 322px;
    padding-right: 0px;

}
.features-description-title{
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 700px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-transform: uppercase;
    margin: 0px;
}
.features-description-text{
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
    padding-top: 19px;
    margin: 0px;
}

.btn {
    width: 173px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 18px;
    padding-left: 0px;
    padding-right: 23px;
    margin-top: 20px;

}

.orange-btn {
    height: 20px;
    width: 175px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: #f1ad1d;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}

/*WE CHANGE START*/

.section-we-change {
    height: 379px;
    width: 100%;
    background: cover;
    background: url(../img/3/31.png);
    margin: 0px;
}

.container-change {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    
}

.slogan-title_text {
    width: 100%;
    font-size: 22px;
    font-family: 'Montserrat';
    color: white;
    margin: 0px;
    text-align: center;
    padding: 151px 0px 55px 0px;
}

.slogan-title_u_l {
    width: 55px;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 55px;
}

.text-orange span {
    font-size: 22px;
    font-family: 'Montserrat';
    color: #d2961b;
}

/*OUR TEAM START*/

.our-team {
    height: 647px;
}

.container-our-team {
    width: 1169px;
    height: 647px;
    margin-left: 175px;
    margin-right: 175px;
}

.section-title-our-team {
    width: 481px;
    padding: 111px 344px 0px 344px;
    margin: 0px;
    font-weight: 22px;
    font-family: "Montserrat";
}

p.section-description_under-line {
    width: 767px;
    padding: 30px 194px 0px 194px;
    margin: 0px;
    font-weight: 17px;
    font-family: "Montserrat";
}

.team-person {
    position: relative;
    width: 193px;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.team-person:hover team-person-name {
    animation-name: 'team-person-hover';
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes team-person-hover {
    0% {
        transform: translateY(-100px);
        opacity: 1;
        background-color: rgba(225 225 225 1);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(-100px);

    }
}


.team-person-link {
    text-decoration: none;
}

.team-person-img {
    max-width: 100%;
}

.team-person:nth-child(6n) {
    margin-right: 0px;
}

.team-person-name {
    position: absolute;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    background-color:  #333333;
    width: 136px;
    padding: 15px;
    bottom: 15px;
    left: 14px;
}


/*OUR SERVICES START*/

.our-services_m {
    width: 100%;
    height: 824px;
    margin-top: 200px;
}

.container_m {
    width: 1158px;
    height: 824px;
    margin-left: 175px;
    margin-right: 175px;
    background-repeat: no-repeat;
    background-size: cover;
}


.section-title-m {
    font-family: 'Montserrat', sans-serif, bold;
    color: rgb(0, 0, 0);
    font-size: 22px;  
    text-align: center;
    padding: 0px 0px 35px 0px;
    margin: 0px;
}

.section-description-m {
    width: 100%;
    font-family: "Lato", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: center;
    font-weight: 'regular';
    margin: 0px;

}

.services-list {
    width: 1169px;
    height: 430px;
    flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
    display: flex;
    padding-top: 50px;
}

.services-item {
    width: 270px;
    height: 431px;
    text-align: center;
    margin: 0px;;
    justify-content: space-between;
}

.service-name {
    width: 159px;
    height: 18px;
    padding: 22px 56px 16px 56px;
    color: white;
    background-color: #333333;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.services-img{
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 31px;
}

.services-img .fas{
    font-size: 41px;

}

.service-description{
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    height: 90px;
    position: relative;
    margin: 0px;
}
.service-description::after{
    width: 64px;
    height: 3px;
    background-color: #f1ad1d;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.service-offer-slogan {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 18px;/* Approximation due to font substitution */
    margin: 0px;
    padding-top: 28px;
    padding-bottom: 16px;
    font-weight: 300;
}

.service-offer {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    margin: 0px;
    padding-bottom: 6px;
    font-weight: 300;
}

.service-line {
    width: 270px;
    height: 3px;
    padding-top: 34px;
}


/*PARTNERS START*/

.partners {
    height: 475px;
    width: 1520px;
    background-image: url(../img/5/51.png);
    margin: 0px;
}

.container-p {
    height: 475px;
    width: 100%;
    margin: 0px;
}

.slogan-title_under_line {
    width: 100%;
    height: 20px;
    padding-top: 164px;
    padding-bottom: 55px;
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", bold, sans-serif;
    color: white;
    margin: 0px;
}

.orange-line {
    align-content: center;
    padding: 0px 700px 48px 735px;
}

.partners-logo {
    height: 54px;
    width: 854px;
    padding: 0px 333px 115px 333px; 
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.partner-link {
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

img.partner-img {
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
}

/*LISTEN-TO*/

.listen-to {
    width: 100%;
    height: 530px;
}

.slogan-listen-to {
    width: 616px;
    padding: 146px 490px 33px 490px;
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", bold, sans-serif;
    color: black;
    margin: 0px;
}

.section-title_lt {
    width: 100%;
    font-family: 'Montserrat', bold, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;  
    text-align: center;
    margin: 0px;
    padding-top: 142px;
    padding-bottom: 31px;
}

.section-description_lt {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-bottom: 49px;
}

.listen-to-blocks {
    width: 1169px;
    height: 208px;
    margin-top: 0px;
    margin-left: 175px;
    margin-right: 175px;
    display: inline-flex;
    justify-content: space-between;
}

.block-tomas {
    height: 206px;
    width: 368px;
    display: inline-block;
    justify-content: space-between;
}

.feet-sign {
    width: 52px;
    height: 48px;
    display: inline-block;
    margin: 0px;
    padding-right: 7px;
}

.line-sign h3{
    width: 270px;
    height: 3px;
    display: inline-block;
    padding-top: 34px;
    padding-left: 11px;
    line-height: 6px;
    margin: 0px;
}

.block-text {
    width: 367px;
    height: 51px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 22px;
    margin: 0px;
    line-height: 20px;
}

.black-line {
    width: 367px;
    height: 3px;
}

.tomas-photo {
    width: 57px;
    height: 45px;
    display: inline-block;
    padding-top: 9px;
    margin: 0px;
}

.caption-text {
    width: 150px;
    height: 45px;
    margin: 0px;
    display: inline-block;
}

.img-caption {
    margin: 0px;
    width: 150px;
    display: table;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 10px;
}

.img-caption2 {
    margin: 0px;
    width: 200px;
    display: table;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding-left: 10px;
}

.block-james {
    height: 206px;
    width: 368px;
    display: inline-block;
    justify-content: space-between;
}

.block-kristal {
    height: 206px;
    width: 368px;
    display: inline-block;
    justify-content: space-between;
}


/*SUBSCRIBE START*/

.subscribe {
    height: 515px;
    width: 100%;
}


.container-s {
    height: 515px;
    width: 1169px;
    padding-left: 175px;
    padding-right: 175px;
}

.section-title-s {
    margin: 0px;
    padding-top: 264px;
    padding-bottom: 35px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
}

.section-description-s {
    font-family: 'Lato-Regular', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    margin: 0px;
}

.email-subscription {
    text-align: center;
    width: 780px;
    height: 65px;
    padding: 55px 200px 0px 200px;
    margin: 0px;
}

.subscribe-field {
    border: 1px solid #c7c7c7;
    width: 536px;
    height: 63px;
    font-family: "Lato", sans-serif;
    color:  #747474;
    font-size: 18px;
    font-style: italic;
}

.subscribe-field[placeholder] {
    font-size: 18px;
    color: rgba(116, 116, 116, 255);
    text-align: left;
    padding-left: 30px;
}

.form-orange-btn {
    width: 172px;
    height: 66px;
    background-color: #f1ad1d;
    border: none;
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}

/*CONNECT US START*/

.connect-us {
    height: 913px;
    width: 100%;
}

.container-some {
    height: 913px;
    width: 1169px;
    margin: 0px 175px 0px 175px;
}


.feedback-message{
    width: 572px;
    float: left;
}

.feedback-title{
    background-color:  #333333;
    width: 67%;
    padding: 19px 15px;
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin: 38px 0px 0px 0px;
}

.feedback-description{
    margin-bottom: 25px;
    font-family: "Lato",sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.feedback-field{
    border: 1px  #929292 solid;
    font-family: "Lato",sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    font-style: italic;
    box-sizing: border-box;
    padding:17px 13px;
}

.feedback-input{
    width: 270px;
    margin-bottom: 20px;
}

.feedback-input:nth-child(2n-1){
    margin-right: 27px;
}

.feedback-textarea{
    width: 572px;
    height: 186px;
    margin-bottom: 23px;
}

.feedback-send{
    border: none;
    text-align: center;
    background-color:  #f1ad1d;
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.our-contacts{
    width: 370px;
    float: right;
}

.contact-list {
    height: 159px;
    width: 100%;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-list-link {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-decoration: none;
}


i.fas {
    color:  #f1ad1d;
    width: 36px;
    height: 18px;
}

.contact-text-icon {
    display: inline-block;
    width: 36px;
    height: 32px;
    background-color: #333333;
    text-align: center;
    line-height: 32px;
    margin-right: 12px;
}

.contact-list-item {
    list-style-type: none;
}

.social-contacts-list {
    padding-left: 0px;
    padding-top: 5px;
}

.social-contacts-item {
    display: inline-block;
    background-color: #f1ad1d;
    margin-right: 16px; 
    vertical-align: middle;   
}

.fab {
    font-size: 18px;
    color: white;
    padding-left: 33%;
    padding-top: 25%;
}


.social-contacts-link{
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 40px;
    transition: 0.4s;
}

i.fas.fa-rss {
    height: 18px; 
    width: 17px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px;
}

.facebook-social-icon{
    background-position: -75px -70px;
}

.facebook-social-icon:hover{
    background-position: -10px -70px;
}

.twitter-social-icon{
    background-position: -140px -70px;
}

.twitter-social-icon:hover{
    background-position: -75px -10px;
}

.google-social-icon{
    background-position: -10px -130px;
}

.google-social-icon:hover{
    background-position: -10px -10px;
}

.rss-social-icon{
    background-position: -75px -130px;
}

.rss-social-icon:hover{
    background-position: -140px -10px;
}

/*CHECK SECTION START*/

.check-section {
    margin: 0px;
    width: 100%;
    height: 485px;
}

.container-check {
    width: 100%;
    height: 485px;
    background: url(../img/7/71.png);
}

.check-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 131px;
    padding-bottom: 61px;
    margin: 0px;
}

.check-text {
    width: 100%;
    height: 49px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: 0px;
}


/*BRANDS BLOCK START*/

.brands {
    height: 506px;
    width: 100%;
}

.container {
    height: 506px;
    width: 1169px;
    margin: 0px 200px 0px 200px;
}


/*MESONRY BLOCK START*/

.masonry {
    height: 1400px;
    width: 100%
}

.container-me {
    height: 1400px;
    width: 1169px;
    margin: 0px 200px 0px 200px;    
}

.posts-lists {
    width: 1169px;
    height: 740px;
    padding: 51px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    column-count: 3;
    display: block;
}

.post {
    width: 370px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-bottom: 25px;
}

.tdn a {
    height: 36px;
    width: 32px;
    text-decoration: none; 
}

.post-title {
    width: 369px;
    height: 36px;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 18px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    margin: 0px;
    padding-top: 9px;
}

a.text {
    position: relative;
    top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    margin: 0px;
    vertical-align: 5px;
    line-height: 10px;
    font-weight: bolder;
}

i.fas {
    width: 36px;
    height: 32px;
    font-size: 14px;
    color: #f1ad1d;
    background: #333333;
    margin-right: 9px;
}

fas.fa-pen {
    color: #b6800c;
}

.post-description {
    width: 359px;
    height: 46px;
    font-family: 'Lato-Light', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
    text-align: left;
    text-align: justify;
    margin: 0px;
    padding-top: 14px;
}

.post-info {
    width: 369px;
    height: 49px;
    
}

.post-data {
    font-family: 'Lato-Light', 'FontAwesome', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 12px;
    color: rgba(130, 130, 130, 255);
    position: relative;
    top: 5px;
}

.post-more {
    font-family: 'Lato-Light', 'FontAwesome', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 12px;
    color: rgba(130, 130, 130, 255);
    text-align: justify;
    text-decoration: none;
    position: relative;
    top: 5px;
}


.button-btn {
    width: 231px;
    height: 51px;
    background-color: #f1ad1d;
    color: white;
    font-family: 'Lato-Light', 'FontAwesome', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border: 0px;
    margin: 110px 463px 106px 463px;
    outline: none;
}

.button-btn:focus {
    width: 231px;
    height: 51px;
    background-color: #d89912;
    color: white;
    font-family: 'Lato-Light', 'FontAwesome', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border: 0px;
    margin: 110px 463px 106px 463px;
    outline: none;
}

/*START BUSINESS BLOCK START*/

.start {
    width: 100%;
    height: 380px;
    margin: 0px;
}

.container-start {
    width: 100%;
    height: 380px;
    background: cover;
    background: url(../img/10/Layer\ 63.png);
    position: absolute;
    background-attachment: fixed;
    margin: auto;
    left: 0;
    right: 0;
}

.slogan-title-start {
    width: 40%;
    padding-top: 95px; 
    padding-left: 30%;
    padding-right: 30%;
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.button-buy-now {
    width: 231px;
    height: 51px;
    border: 0px;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: transparent;
    text-align: center;
    outline: none;
}

.button-bn {
    text-align: center;
}

.button-buy-now:focus {
    width: 231px;
    height: 51px;
    border: 2px solid #fff;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: transparent;
    text-align: center;
    outline: none;
}

.button-buy-now:hover {
    width: 231px;
    height: 51px;
    border: 1px solid #fff;
    color: white;
    font-family: 'Lato-Light', 'FontAwesome', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14px;
    background-color: transparent;
    text-align: center;
    outline: none;
}

/*PORTFOLIO BLOCK START*/

.portfolio {
    height: 1442px;
    width: 100%;
}

.conteiner-port {
    height: 1442px;
    width: 100%;
}

.portfolio-categories {
    width: 100%;
    height: 40px;
    padding-top: 61px;
    display: inline-flex;
    justify-content: center;
    margin: 0px;
    padding-left: 0px;
}

.portfolio-categorie-item {
    height: 39px;
    border: 1px solid #333333;
    font-family: 'Lato-Light', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14px;
    color: rgba(17, 17, 17, 255);
    text-align: center;
    justify-content: center;
    margin-right: 8px;
    margin-left: 8px;
    outline: none;
    text-decoration: none;
    line-height: 35px;
}

.portfolio-categorie-item:hover {
    background-color: #303030;
    outline: none;
    color: #c7c7c7;
}

.portfolio-list {
    width: 1169px;
    height: 844px;
    margin: 45px 216px 0px 215px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-count: 4;
}

.portfolio-info-content {
    width: 277px;
    height: 267px;
    background-color: #fff;
    border: 2px solid #303030;
    margin: 0px;
}

.portfolio-info-title {
    width: 277px;
    height: 17px;
    font-family: 'Lato-Light', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 18px;
    color: rgba(17, 17, 17, 255);
    text-align: center;
    padding: 48px 0px 25px 0px;   
    margin: 0px;
}

.portfolio-info-description {
    height: 47px;
    width: 228px;
    font-family: "Lato";
    padding: 28px 27px 27px 26px;
    font-family: 'Lato-Light', 'OpenSans-Bold', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14px;
    color: rgba(91, 91, 91, 255);
    text-align: center;
    margin: 0px;
}


button.portfolio-btn-more {
    width: 141px;
    height: 39px;
    background-color: #d89912;
    border: 0px;
    color: white;
    margin: 0px 70px 36px 70px;
}

button.portfolio-btn-more:focus {
    width: 141px;
    height: 39px;
    background-color: #b6800c;
    border: 0px;
    outline: none;
    color: white;
}

.portfolio-list-item {
    width: 281px;
    height: 271px;
    position: relative;   
}

.portfolio-list-img {
    width: 281px;
    height: 271px;
    position: relative;
    z-index: 100;
   
}

.portfolio-info-content {
    width: 277px;
    height: 267px;
    background-color: #fff;
    border: 2px solid #303030;
    margin: 0px;
    transform: translate(0,-281px); 
    position: absolute;
    z-index: 200;
    display: none;
}

.portfolio-list-item:hover .portfolio-info-content {
    display: block;
    animation-name: 'portfolio-hover';
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-name: 'portfolio-hover';
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: 'portfolio-hover';
    -moz-animation-duration: 4s;
    -moz-animation-fill-mode: both;
}

@keyframes portfolio-hover {
    0% {
        opacity: 0;
        transform: translate(-100%, -300%);
    }

    50% {
        opacity: 0,5;
        transform: translate(-100%, -200%);
    }

    100% {
        opacity: 1;
        transform: translate(0, -100%);
    }
}

.map-location {
    height: 63px;
    width: 100%;
    margin-top: 79px;
    background-color: #333333;
}

.map-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 23px;
}

.copyright {
    height: 87px;
    width: 100%;
}

.copyright-text {
    font-family: 'Lato-Light', 'OpenSansLight-Italic', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-top: 33px;
    padding-bottom: 40px;
}

/*NEW*/