.content {
    width: 1000px;
    margin:0 auto;
}
table {
    width: 1000px;
    border: 1px solid #CCC;
}
td {
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid blue;
}

.black {
    background-color: black;
}


.white {
    background-color: white;
}