body {
    width: 100%;
    height: 2756px;
    margin: 0 auto;
    top: 0;
}

/* pixel-page */

.pixel-page {
    width: 100%;
    height: 43px;
    margin: 0 auto;
    align-content: center;
    background-color: #f0f2f4;
    border-bottom: 1px Solid #9e9e9e3d;
}

.pixel-page-top {
    width: 1021px;
    height: 43px;
    align-content: center;
    margin: 0 auto;
}

.pixel-page-tell {
    width: 808px;
    height: 43px;
    margin: 0 auto;
    align-content: center;
    border-right: 1px solid #aaaaaa38;
    display: inline-block;
}

i.fa.fa-mobile{
    width: 11px;
    height: 18px;
    display: inline-block;
    color: #424242;
    margin-right: 0px;
    margin-left: 705px;
}

p.pp-logo {
    width: 70px;
    height: 12px;
    font-family: 'Myriad Pro';
    font-size: 14px;
    color: rgba(66, 66, 66, 255);
    text-align: left;
    margin: 0px;
    text-align: right;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 14px;
    margin-right: 18px;
}

.pixel-page-email {
    width: 208px;
    height: 43px;
    margin: 0px;
    display: inline-block;
    top: 0;
}

i.fas.fa-envelope {
    font-size: 19px;
    color: #424242;
    margin-left: 16px; 
}

.pp-tell {
    width: 118px;
    height: 15px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
    text-align: left;
    margin: 0px;
    display: inline-block;
    margin: 14px 11px 15px 6px;
}

.pp-facebook {
    width: 8px;
    height: 16px;
    color: white;
    background-color: #1287bf;
    border-radius: 3px;
    margin: 0px;
    display: inline-block;
    padding: 3px 9px 7px 9px;
    font-family: 'Myriad Pro', bold;
    font-weight: 900;
    font-size: 20px;
}

.head-pixel-sect {
    width: 1021px;
    height: 130px;
    margin: 0 auto;
    align-content: center;
    background-color: #ffffff;
}

.head-pixel-menu {
    width: 1021px;
    height: 130px;
    margin: 0;
    background-color: #ffffff;
}

.head-pixel-menu-logo {
    width: 443px;
    height: 130px;
    margin: 0px;
    float: left;
}


.hpm-logo {
    width: 74px;
    height: 49px;
    margin: 42px 15px 0 0;
    display: inline-block;
}

.hpm-logo-sl {
    width: 148px;
    height: 51px;
    display: inline-block;
    margin: 41px 200px 0px 0px;
}

.hpm-logo-text {
    width: 148px;
    height: 29px;
    display: list-item;
    position: relative;
    text-decoration: none;
    list-style: none;
    font-family: 'Myriad Pro', bold;
    font-size: 37px;
    font-weight: 900;
    color: rgba(66, 66, 66, 255);
    margin-bottom: 7px;
}

.hpm-logo-slogan {
    width: 117px;
    height: 15px;
    display: list-item;
    position: relative;
    text-decoration: none;
    list-style: none;
    font-family: 'Myriad Pro', bold;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
}

.head-pixel-menu-links {
    width: 372px;
    height: 130px;
    margin: 0px;
    float: left;
}

.head-pixel-menu-links li {
    text-decoration: none;
    outline: none;
    list-style-type: none;
    display: inline;
}

.point {
    margin: 0px;
    margin-right: 14px;
    margin-left: 14px;
}


.home-li {
    width: 38px;
    margin-top: 60px;
}

.au-li {
    width: 60px;
    margin-top: 60px;
}

.oa-li {
    width: 84px;
    margin-top: 60px;
}

.ow-li {
    width: 62px;
    margin-top: 60px;
}

.home {
    width: 38px;
    height: 13px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif; 
    font-weight: 700;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
    margin-top: 60px;
    font-stretch: semi-expanded;
    letter-spacing: -0.4px;
}

.about-us {
    width: 60px;
    height: 13px;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    font-family: 'Myriad Pro', bold;
    font-weight: 700;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
    font-stretch: semi-expanded;
    letter-spacing: -0.4px;
}

.our-approch {
    width: 84px;
    height: 13px;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    font-family: 'Myriad Pro', bold;
    font-weight: 700;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
    font-stretch: semi-expanded;
    letter-spacing: -0.4px;
}

.our-work {
    width: 62px;
    height: 13px;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    font-family: 'Myriad Pro';
    font-weight: 700;
    font-size: 15px;
    color: rgba(66, 66, 66, 255);
    font-stretch: expanded;
    letter-spacing: -0.4px;
}

.home:hover {
    color: #dd2a24;
}

.about-us:hover {
    color: #dd2a24;
}

.our-approch:hover {
    color: #dd2a24;
}

.our-work:hover {
    color: #dd2a24;
}

.header-pixel-menu-consult {
    width: 206px;
    height: 130px;
    margin: 0 auto;
    float: left;
}

.hpmc-free-cons {
    width: 171px;
    height: 36px;
    margin: 50px 0px 0px 35px;
    background-color: #de2b24;
    border-radius: 3px;
    font-weight: 700;
    font-family: 'Myriad Pro';
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border: none;
}


/* we-providing */

.we-providing {
    height: 590px;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/header-banner.png');
    background-size: cover;
}

.we-providing-content {
    height: 590px;
    width: 515px;
    margin: 0 auto;
    align-content: center;
}

.we-providing-header {
    height: 47px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 48px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 175px;
    margin: 0px;
}

.social-media {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 5px 0px 31px 0px;
    margin: 0px;
    font-weight: 200;
}

.free-consult { 
    width: 330px;
    height: 69px;
    margin: 0 auto;
    align-items: center;
    outline: none;
}

button.free-cons-button {
    width: 330px;
    height: 69px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18.43478pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #f8cd53;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
    align-items: center;
    font-weight: 900;
}

/* about-us */

.about-us-sect {
    width: 911px;
    height: 565px;
    margin: 0 auto;
    align-content: center;

}

.about-us-top {
    width: 291px;
    height: 76px;
    padding-top: 101px;
    margin: 0 auto;
    align-content: center;
}

.about-us-header {
    width: 291px;
    height: 35px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 36px;
    color: rgba(66, 66, 66, 255);
    text-align: center;
    margin: 0px;
}

.we-are-added {
    width: 291px;
    height: 19px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 21px;
    color: rgba(66, 66, 66, 255);
    text-align: center;
    margin: 0px;
    font-weight: 400;
    padding-top: 5px;
}


.tire {
    width: 47px;
    height: 5px;
    padding-top: 13px;
    margin: 0 auto;
    align-content: center;
    padding: 13px 122px 0px 122px;
}

.lorem-block {
    width: 911px;
    height: 246px;
    display: inline-flex;
    justify-content: space-between;
}

.facebook-marketing {
    width: 226px;
    height: 200px;
}

.fac-mark-images {
    margin: 0 auto;
    align-content: center;
    padding: 46px 71px 27px 71px;
}

.fm-header {
    width: 227px;
    height: 22px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 21px;
    color: rgba(66, 66, 66, 255);
    text-align: center;
    margin: 0 auto;
}

.fm-text {
    height: 58px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 13.5px;
    color: rgba(92, 92, 92, 255);
    text-align: center;
    padding-top: 14px;
    margin: 0px;
    line-height: 21px;
}

.landing-pages {
    width: 226px;
    height: 200px;
}

.landing-pages-images {
    margin: 0 auto;
    align-content: center;
    padding: 46px 78px 27px 83px;
}

.ads-manag {
    width: 226px;
    height: 200px;
}

.ads-manag-images {
    margin: 0 auto;
    align-content: center;
    padding: 52px 76px 19px 66px;
}

/* our-work */

.our-work-sect {
    background-color: #de2b24;
    width: 100%;
    height: 869px;
}

.our-work-content {
    width: 1030px;
    height: 869px;
    align-content: center;
    margin: 0 auto;
}

.our-work-div {
    width: 351px;
    height: 76px;
    padding-top: 101px;
    margin: 0 auto;
    align-content: center;
}

.our-work-sect-header {
    width: 351px;
    height: 35px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 0px;
}

.our-work-sect-slogan {
    width: 351px;
    height: 19px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 21px;
    color: white;
    text-align: center;
    margin: 0px;
    font-weight: 400;
    padding-top: 5px;
}


.tire-white {
    width: 47px;
    height: 5px;
    padding-top: 13px;
    margin: 0 auto;
    align-content: center;
    padding: 13px 152px 0px 152px;
    color: white;
}

.ow-images {
    width: 1025px;
    height: 509px;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
}
    
.project-name {
    width: 255px;
    height: 253px;
    background-color: #f35e59;
}

.ow-img {
    width: 255px;
    height: 253px;
}

.arrow {
    padding: 75px 110px 21px 109px;
}

.pr-name-header {
    height: 27px;
    margin: 0px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 26px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.pr-name-text {
    margin: 0px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 300;
}


/* get-in-touch */

.get-in-touch {
    width: 100%;
    height: 490px;
    background-color: #2a2a2a;
}

.get-in-touch-content {
    width: 683px;
    height: 490px;
    align-content: center;
    margin: 0 auto;
}

.get-in-touch-header {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 29px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 90px 0px 32px 0px;
    font-weight: 600;
}

.get-in-touch-links {
    width: 252px;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 200px 0px 215px;
}

.git-link {
    width: 38px;
    height: 38px;
    margin: 0px;
    border: 1.5px solid #515151;
    border-radius: 3px;
}

.git-link:hover {
    width: 38px;
    height: 38px;
    margin: 0px;
    border: 1.5px solid #de2b24;
    border-radius: 3px;
}

.git-link-img {
    padding: 9px 14px 12px 12px;
}

.get-in-touch-text {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: rgba(206, 206, 206, 255);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 31px;
    margin: 0px;
}

input.get-in-touch-input {
    width: 683px;
    height: 48px;
    background: #515151;
    color: white;
    border: none;
    outline: none;
}

input.get-in-touch-input::placeholder {
    font-size: 14px;
    color: rgba(206, 206, 206, 255);
    text-align: left;
    padding: 22px 0px 20px 22px;
    outline: none;
}

.git-button {
    width: 149px;
    height: 49px;
    margin: 29px 266px 86px 268px;
    background: transparent;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border: 1.5px solid #515151;
    border-radius: 3px;
    outline: none;
}

/* copyright */

.copyright {
    width: 100%;
    height: 67px;
    background-color: #515151;
}

.copyright-info {
    width: 266px;
    height: 14px;
    align-content: center;
    margin: 0 auto;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: rgba(206, 206, 206, 255);
    text-align: left;
    padding-top: 26px;
}