body {
    width: 100%;
    height: 783px;
    margin: 0px;
    padding: 0px;
}

.modul {
    width: 100%;
    height: 100%;
    max-width: 1520px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-image: url(../img/background1.png);
    background-size: cover;
}

.cover {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 1130px;
    height: 52px;
    padding: 50px 180px 0px 200px;
}

.header-top {
    width: 1130px;
    height: 52px;
}

.container-clearfix {
    width: 1130px;
    height: 52px;
}

.header-logo {
    width: 1130px;
    height: 55px;
    display: flex;
}

a.header-logo-link {
    width: 55px;
    height: 44px;
    padding-right: 13px;
}

a.header-logo-text {
    height: 44px;
    font-family: Verdana, sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
    line-height: 25px;
    letter-spacing: 0.02px;
    margin: 0px;
}

.header-logo-text:hover {
    height: 50px;
    font-family: Verdana, sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #f26522;
    text-decoration: none;
    list-style-type: none;
    line-height: 25px;
    letter-spacing: 0.02px;
    margin: 0px;
}

a.header-logo-text span {
    height: 26px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: list-item;
    list-style-type: none;
    letter-spacing: 0.05px;
    line-height: 25px;
    margin: 0px;
}

.email {
    width: 275px;
    height: 22px;
    margin: 0px;
    list-style-type: none;
    position: relative;
    text-align: right;
    margin-left: 680px;
    margin-bottom: 3px;
}

.tell {
    width: 275px;
    height: 23px;
    margin: 0px;
    list-style-type: none;
    margin-left: 680px;
    display: block;
    position: absolute;
    text-align: right;
}

.header-logo-contakt {
    width: 240px;
    height: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    list-style-type: none;
    line-height: 23px;
    text-align: right;
}

.header-logo-contakt:hover {
    width: 240px;
    height: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #f26522;
    text-decoration: none;
    list-style-type: none;
    line-height: 23px;
    text-align: right;
}

.section {
    width: 1510px;
    height: 600px;
    margin-left: 0px;
    display: table;
}

.container {
    height: 555px;
    width: 1130px;
    margin: 40px 195px 0px 190px;
    position: relative;
}

.container-link {
    height: 555px;
    width: 1130px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.container-link ul {
    height: 555px;
    width: 1130px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.container-link li {
    height: 290px;
    width: 320px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    text-indent: 10px;
    list-style-type: none;
}


a.link {
    height: 290px;
    width: 320px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    text-indent: 10px;
    list-style-type: none;
    position: relative;
}

.link p:hover {
    color: #f26522;
}

.link img { 
    width: 310px;
    height: 200px;
    padding: 0px;
    padding-bottom: 0px;
    border-left: 0px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 0px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, 0%,  rgba(0, 0, 0, 0.616) 50%);
    -webkit-border-image: -webkit-linear-gradient(top, 0%,  rgba(0, 0, 0, 0.616)50%);
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 50%,  rgba(0, 0, 0, 0.616) 75%);
    border-image-slice: 1;
    box-shadow: 3px 3px 3px 5px  rgba(0, 0, 0, 0.616);
}

.link:hover .details-hover {
    display: block;
    animation-name: 'details-hover';
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-name: 'details-hover';
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: 'details-hover';
    -moz-animation-duration: 3s;
    -moz-animation-fill-mode: both;
}


@keyframes details-hover {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 3;
        transform: translateY(0);
    }
}


.details-hover {
    height: 60px;
    width: 310px;
    position: absolute;
    padding-left: 10px;
    top: 141px;
    display: none;
}

.details-hover-content {
    height: 60px;
    width: 310px;
    background-color: #f26522;
    float: left;
    text-align: left;
    color: #eee;
    font: 20px;
    display: list-item;
    text-decoration: none;
}

.span1 {
    text-align: left;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    display: list-item;
    padding-left: 21px;
    padding-top: 14px;
    margin: 0px;
}

.span2 {
    text-align: left;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    display: list-item;
    padding-left: 20px;
    margin: 0px;
}

.tour-details-left {
    width: 150px;
    float: left;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

.tour-details-right {
    width: 160px;
    float: right;
    font-size: 14px;
}

.tour-details-right p {
    float: right;
    size: 2px;
    padding-top: 30px;
    padding-right: 18px;
    margin: 0px;
}

.tour-details-right span {
    font-size: 10px;
    padding-left: 10px;
}

.footer {
    width: 348px;
    height: 15px;
    float: center;
    margin: 42px 0px 15px 580px;
}

.copyright-text {
    width: 360px;
    height: 15px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: white;
}


