body {
    width: 100%;
    height: 750px;
    margin: 0px;
}

.main-content {
    width: 1000px;
    height: 450px;   
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.button {
    width: 200px;
    height: 90px;  
    margin: 0 auto;
    align-content: center;  
}

.circle {
    width: 100px;
    height: 100px;
    background: grey;
    border-radius: 50%;
    margin: 0 auto;
    align-content: center;
    margin-top: 250px;
}

.btn-on {
    width: 200px;
    height: 90px;  
    align-content: center;
    color: rgb(137, 16, 218);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    background-image: url(../img/12345.jpg);
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Pacifico', sans-serif;
    font-style: italic;
    margin-top: 250px;
}

.btn-on:hover {
    box-shadow: 0 0 20px rgba(8, 0, 0, 0.719);s
}

form#form1 {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 250px;
}

.ph {
    height: 35px;
    margin-bottom: 6px;
    color: rgb(170, 170, 170);
    font-family: 'Montherrat', sans-serif;
    font-style: italic;
    padding-left: 10px;
}

.sub {
    width: 100px;
    height: 35px;
    margin-bottom: 6px;
    display: inline-flex;
    margin: 0 auto;
    background-color: greenyellow;
    border: 1px solid green;
}

.cancel {
    width: 100px;
    height: 35px;
    margin-bottom: 6px;
    display: inline-flex;
    margin: 0 auto;
    background-color: greenyellow;
    border: 1px solid green;
}


.d { 
    width: 196px;
    height: 25px;
}

.c {
    width: 196px;
    height: 25px;
}


