@font-face {
    font-family: 'FontAwesome';
    src: url("font-awesome/webfonts/fa-solid-900.eot") format("eot");
    src: url("font-awesome/webfonts/fa-solid-900.eot") format("eot"), 
         url("font-awesome/webfonts/fa-solid-900.woff2") format("woff2"),
         url("font-awesome/webfonts/fa-solid-900.woff") format("woff"), 
         url("font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), 
         url("font-awesome/webfonts/fa-solid-900.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    max-width: 1520px;
    margin: 0px;
}

table {
    width: 100%;
    height: 833px;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    border-spacing: 0px 2px;     
    border-left: 34px solid; 
    border-right: 37px solid; 
    border-top: 36px solid; 
    border-bottom: 27px solid; 
    color: #3a4965;
}

.pp-menu {
    width: 100%;
    height: 144px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px 5px;
    border: 2px solid #555555;
}

.choose-plan-text {
    width: 250px;
    height: 144px;
    margin: 0px;
    padding: 0px;
}

.choose-plan-text-div {
    width: 250px;
    height: 144px;
    margin: 0px;
    padding: 0px;
}

.cpt-p {
    width: 140px;
    height: 14px;
    margin: 0px;
    font-size: 14pt;
    font-family: 'Arimo', bold, sans-serif;
    font-weight: 700;
    text-indent: smooth;
    color: #555555;
    padding-top: 51px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 11px;
}

.cpt-span {
    width: 185px;
    height: 20px;
    font-size: 19pt;
    font-family: 'Arimo', bold, sans-serif;
    font-weight: 700;
    color: #555555;
    padding-top: 0px;
    padding-left: 34px;
    padding-bottom: 48px;
    padding-right: 34px;
}

.pricing-plan-type {
    width: 199px;
    height: 143px;
    font-family: 'Arimo', sans-serif;
    color: #848484;
    font-weight: 700;
    text-indent: smooth;
    font-size: 20pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    border-left: none;
    padding: 0px;
}

.fas  {
    width: 25px;
    height: 22px;
    padding-bottom: 14px;
    padding-top: 15px;
    font-family: 'FontAwesome';
    text-align: center;
    color: rgba(132, 132, 132, 255);
    font-size: 1em;
}

.pp-st {
    width: 1444px;
    height: 212px;
}

.plan-standart {
    width: 250px;
    height: 212px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #89c331;
}

.standart {
    width: 250px;
    height: 68px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
}

.st {
    width: 168px;
    height: 24px;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
    font-size: 24pt;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.plan-price {
    width: 250px;
    height: 37px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
    color: white;
}

.price  {
    width: 47px;
    height: 37px;
    font-family: 'Arimo', sans-serif;
    color: white;
    font-weight: 700;
    text-indent: smooth;
    font-size: 36pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    margin: 0px;
    display: inline-table;
    vertical-align: middle;
    padding-top: 0px;
    padding-left: 29px;
    text-align: right;
}

.price-part2 {
    width: 170px;
    display: inline-table;
    vertical-align: center;
    text-align: left;
    align-items: center;
    color: white;
    padding-top: 7px;
}

.price2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: #848484;
    font-size: 17pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin: 0px;
    display: inline;
    color: white;
}

.per-month {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
    font-weight: 400;
    font-size: 13pt;
    text-align: center;
    display: inline;
    color: white;
    padding-left: 10px;
    vertical-align: -10px;
    line-height: 35px;
}

.button-gr {
    width: 182px;
    height: 52px;
    padding: 32px 32px 15px 32px;
}

.btn-grey {
    width: 182px;
    height: 52px;
    background: #414141;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 16pt;
    text-indent: smooth;
    font-family: 'Arimo', sans-serif;
    -moz-border-radius: 2px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.pp-ul {
    width: 1444px;
    height: 212px;
}


.plan-ultimate {
    width: 250px;
    height: 212px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f04a56;
}

.ultimate {
    width: 250px;
    height: 68px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
}


.st-u {
    width: 148px;
    height: 24px;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
    font-size: 24pt;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 23px 51px 26px 51px;
}

.pp-prem {
    width: 1444px;
    height: 212px;
}

.plan-ultimate {
    width: 250px;
    height: 212px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f04a56;
}

.plan-premium {
    width: 250px;
    height: 212px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #20807c;
}

.premium {
    width: 250px;
    height: 68px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-indent: smooth;
}


.filing-page {
    width: 199px;
    height: 210px;
    font-family: 'Arimo', bold, sans-serif;
    color: #f2f2f2;
    font-weight: 500;
    text-indent: smooth;
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    border-bottom: 0px;
    border-top: 0px;
    border-collapse: separate; 
    line-height: 30px;
}



