body, html {
    width: 100%;
    height: 3649px;
    max-width: 1520px;
    margin: 0px;
}

.header-sertiz {
    width: 100%;
    height: 855px;
    background-image: url(../img/1/Layer19.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 145px;
    margin: 0px;
}

.container {
    width: 1169px;
    margin: 0 auto;
    margin-left: 82px;
}

.header-company-name {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-top: 530px;
    padding-bottom: 16px;
    margin: 0px;
}

.header-company-description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-family: "Lato" sans-serif;
    padding-bottom: 28px;
    font-weight: 'Regular';
    margin: 0px;
}

.header-slogan {
    width: 840px;
    height: 129px;
    display: inline-block;
    position: relative;
    line-height: -65px;
}

.header-slogan-we {
    width: 152px;
    height: 129px;
    margin: 0px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-top: 1px solid #fff;
}

.hs-w {
    width: 89px;
    height: 38px;
    font-family: "Montserrat", sans-serif;
    color: #f1ad1d;
    font-size: 54px;
    text-align: center;
    margin: 0px;
    padding: 48px 56px 41px 26px;
    line-height: 25px;
}

.header-slogan-make {
    width: 680px;
    height: 126px;
    margin: 0px;
    display: inline-block;
}

.hs-m {
    width: 650px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 54px;
    text-align: center;
    margin: 0px;
    border-left: 0px;
    margin-left: -4px;
    position: relative;
    padding: 48px 34px 40px 29px;
    line-height: 25px;
}


.text-orange{
    color: #f1ad1d;
    background-color: white;
}

/*ABOUT US*/

.about-us {
    height: 350px;
    width: 100%;
}

.container-text {
    height: 350px;
    width: 100%;
    margin: 0px;
}

.section-title {
    width: 100%;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-size: 22px;  
    text-align: center;
    padding: 109px 0px 32px 0px;
    margin: 0px;
}

.section-description {
    font-family: "Lato", sans-serif;
    color: rgba(77, 73, 67, 255);
    font-size: 17px;
    text-align: center;
    padding-bottom: 48px;
    font-weight: 'regular';
    margin: 0px;
}

/*SLOGAN SECTION*/

.slogan-section {
    height: 360px;
    width: 100%;
}

.container-watch {
    width: 100%;
    height: 360px;
    background: url(../img/3/31.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
}

.slogan-title_text {
    width: 100%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 255);
    margin: 0px;
    text-align: center;
    padding: 142px 0px 56px 0px;
}

span.text-orange {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #d2961b;
    background-color: initial;
}

/*OUR TEAM*/

.our-team {
    height: 417px;
    width: 100%;
}

.container-secret {
    width: 100%;
    height: 417px;
}

.section-title-secret {
    width: 100%;
    padding: 100px 0px 33px 0px;
    margin: 0px;
    font-weight: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.section-description-secret {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    margin: 0px;
    padding-bottom: 43px;
}

/*PARTNERS*/

.partners {
    height: 450px;
    width: 100%;
    background-image: url(../img/10/Layer\ 63.png);
    background-size: cover;
    margin: 0px;
    background-attachment: fixed;
}

.container-p {
    height: 450px;
    width: 100%;
    margin: 0px;
}

.slogan-title_under_line {
    width: 270px;
    height: 20px;
    padding-top: 164px;
    padding-left: 659px;
    padding-right: 590px;
    padding-bottom: 56px;
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", bold, sans-serif;
    color: white;
    margin: 0px;
}

.orange-line {
    align-content: center;
    padding: 0px 695px 48px 764px;
}

.partners-logo {
    height: 54px;
    width: 854px;
    padding: 0px 290px 115px 374px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.partner-link {
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

img.partner-img {
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
}

/*PORTFOLIO BLOCK START*/

.portfolio {
    height: 381px;
    width: 100%;
}

.conteiner-text {
    height: 381px;
    width: 100%;
}


/*CHECK BLOCK START*/

.check-section {
    width: 100%;
    height: 460px;
    background: url(../img/7/71-1.png);
    background-attachment: fixed;
    background-size: cover;
}

.check-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 56px;
    margin: 0px;
    
}

.check-text {
    width: 100%;
    height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: 0px;
    padding-bottom: 30px;
}


/*SUBSCRIBE*/


.subscribe {
    height: 379px;
}

.container-s {
    height: 379px;
    width: 100%;
}

