body {
    background-color: beige;
}



h1 {
    color: green;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}


.timer {
    color: mediumvioletred;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}


ul li {
    color: green;
    margin: 0 auto;
    align-content: center;
    margin-left: 250px;
}
