body {
    margin: 0px;
    padding: 0px;
}

.modul {
    height: 768px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-image: url(../img/background.png);
    background-size: 100%;
    position: relative;
}

.cover {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 1062px;
    height: 52px;
    padding: 50px 225px 0px 230px;
}

.header-top {
    width: 1062px;
    height: 52px;
}

.container-clearfix {
    width: 1062px;
    height: 52px;
}

.header-logo {
    width: 1062px;
    height: 55px;
    display: flex;
}

a.header-logo-link {
    width: 55px;
    height: 44px;
    padding-right: 13px;
}

a.header-logo-text {
    height: 44px;
    font-family: Verdana, sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
    line-height: 25px;
    letter-spacing: 0.02px;
    margin: 0px;
}

.header-logo-text:hover {
    height: 50px;
    font-family: Verdana;
    font-size: 29px;
    font-weight: bold;
    color: #f26522;
    text-decoration: none;
    list-style-type: none;
    line-height: 25px;
    letter-spacing: 0.02px;
    margin: 0px;
}

a.header-logo-text span {
    height: 26px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: list-item;
    list-style-type: none;
    letter-spacing: 0.05px;
    line-height: 25px;
    margin: 0px;
}

.email {
    width: 243px;
    height: 22px;
    margin: 0px;
    list-style-type: none;
    position: relative;
    align-items: right;
    margin-left: 650px;
}

.tell {
    width: 243px;
    height: 23px;
    margin: 0px;
    list-style-type: none;
    margin-left: 650px;
    display: block;
    position: absolute;
    text-align: right;
}

.header-logo-contakt {
    width: 240px;
    height: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    list-style-type: none;
    line-height: 23px;
    text-align: right;
}

.header-logo-contakt:hover {
    width: 240px;
    height: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #f26522;
    text-decoration: none;
    list-style-type: none;
    line-height: 23px;
    text-align: right;
}


.section {
    height: 600px;
    display: table;
}

.container {
    height: 555px;
    width: 1130px;
    margin: 40px 204px 0px 200px;
    position: absolute;
}

.container-link {
    height: 555px;
    width: 1130px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.container-ul {
    height: 555px;
    width: 1130px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.container-link li {
    height: 290px;
    width: 320px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    text-indent: 10px;
    list-style-type: none;
}

.under-link:hover {
    color: #f26522;   
    transition: 1s;
}

a.link {
    height: 290px;
    width: 320px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    text-indent: 10px;
    list-style-type: none;
    position: relative;
}

.link img { 
    width: 310px;
    height: 200px;
    padding: 0px;
    padding-bottom: 0px;
    background: #eee;
    border-left: 0px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 0px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, white 0%, black, 100%);
    -webkit-border-image: -webkit-linear-gradient(top, white 0%, black 100%);
    border-image: linear-gradient(to bottom, white, black 100%);
    border-image-slice: 1;
    box-shadow: 8px 8px 8px 12px rgb(8, 8, 8);
}


.link:hover .details-hover {
    display: block;
    animation-name: 'details-hover';
    animation-duration: 3s;
    animation-fill-mode: backwards;
    -webkit-animation-name: 'details-hover';
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-name: 'details-hover';
    -moz-animation-duration: 3s;
    -moz-animation-fill-mode: backwards;
}


@keyframes details-hover {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 3;
        transform: translateY(0);
    }
}

.under-link:hover {
    color:  #f26522;
    transition: 0s;
}

.details-hover {
    height: 60px;
    width: 310px;
    position: absolute;
    padding-left: 10px;
    top: 141px;
    display: none;
}

.details-hover-content {
    height: 60px;
    width: 310px;
    background-color: #f26522;
    float: left;
    text-align: left;
    color: #eee;
    font: 20px;
    display: list-item;
    text-decoration: none;
}

.span1 {
    text-align: left;
    font-size: 10px;
    font-family: Verdana;
    display: list-item;
    padding-left: 21px;
    padding-top: 14px;
    margin: 0px;
}

.span2 {
    text-align: left;
    font-size: 20px;
    font-family: Verdana;
    display: list-item;
    padding-left: 20px;
    margin: 0px;
}

.tour-details-left {
    width: 150px;
    float: left;
    font-size: 10px;
    font-family: Verdana;
}

.tour-details-right {
    width: 160px;
    float: right;
    font-size: 14px;
}

.tour-details-right p {
    float: right;
    size: 2px;
    padding-top: 30px;
    padding-right: 18px;
    margin: 0px;
}

.tour-details-right span {
    font-size: 10px;
    padding-left: 10px;
}

.footer {
    width: 353px;
    height: 15px;
    float: center;
    margin: 30px 0px 15px 580px;
}

.copyright-text {
    width: 353px;
    height: 25px;
    font-family: Verdana;
    font-size: 12px;
    color: white;
    margin: 0px;
}

.copyright-text p {
    margin: 0px;
}